@model IAU.DTO.Entity.E_FormsDTO
<style>
    :root {
        --main-btn-color: #0a1332 !important;
    }

    @@media(max-width:770px) {

        .eform-body tr {
            display: flex;
            flex-direction: column;
        }

        .form-control {
            width: 100%;
        }

        .modal-dialog-eform {
            max-width: 80vw !important;
            width: 100%
        }

            .modal-dialog-eform > .modal-content > .modal-header {
                display: none
            }
    }

    .modal-dialog-eform {
        max-width: 46vw !important;
    }

    td {
        width: 100%;
    }

        td div {
            margin: 0 20px;
        }

    tr th {
        /*min-width: 150px;*/
    }

    .form-control {
        /*width: 50%;*/
    }

    td {
        justify-content: start;
        display: flex;
    }

    th {
        justify-content: center;
    }

    tr th,
    tr td {
        vertical-align: middle !important;
        border-top: 0px !important;
    }

    .eform-body tr.border {
        border: none !important;
    }

        .eform-body tr.border th,
        .eform-body tr.border td {
            border-top: 0px !important;
            border: 0px !important;
            border-bottom: 1px solid #dee2e6 !important;
        }

    tr.border td {
        padding: 0;
    }

    td input[type='date'],
    td input[type='text'] {
        /*width: 250px !important*/
    }

    tr[data-required="True"] th label::after {
        content: "*";
        color: red;
        margin: 0 5px
    }

    .checkbox {
        margin: 2px 15px;
    }

    .EmptySpace {
        height: 25px;
    }

    .contanier {
        box-shadow: 0px 0px 20px 4px #888888;
        padding: 25px;
    }

    .alert {
        margin: 0;
        width: 250px !important;
    }

    .btn-primary {
        background-color: var(--main-btn-color);
    }

    h2 {
        color: var(--main-btn-color) !important;
    }

    .table > :not(caption) > * > * {
        border-bottom-width: 0px !important;
    }

    .Space {
        border-bottom: 1px solid #dee2e6;
        margin: 30px 0;
    }
</style>
@*<link href="~/Design/CSS/all.min.css" rel="stylesheet" />
    <link href="~/Design/CSS/bootstrap.min.css" rel="stylesheet" />*@
@{
    var isar = Request.Cookies["lang"]?.Value == "ar";
}
<div class="modal-dialog modal-dialog-eform" role="document">
    <div class="modal-content">
        <div class="modal-header" style="display:inline-flex;justify-content:space-between;flex-direction:row;">
            <h3 class="modal-title w-100 text-center" data-id="@Model.ID">@(isar?Model.Name:Model.Name_EN)</h3>
            <span>@Model.Code</span>
        </div>
        <div class="modal-body">

            <table class="table m-0">
                <tbody class="eform-body">
                    @foreach (var qty in Model.Question)
                    {
                        switch (qty.T)
                        {
                            case "I":
                                <tr data-id="@qty.T-@qty.ID" data-name="@qty.Name-@qty.Name_EN" data-required="@qty.Requird">
                                    <th>
                                        <label>
                                            @(isar?qty.Name:qty.Name_EN)
                                        </label>
                                    </th>
                                    <td>
                                        <input class="form-control" placeholder="@(isar?qty.Input.PlaceHolder:qty.Input.PlaceholderEN)" type="@(qty.Input.ISNum?"number":"text")" />
                                    </td>
                                </tr>
                                break;
                            case "C":
                                <tr data-id="@qty.T-@qty.ID" data-name="@qty.Name-@qty.Name_EN" data-required="@qty.Requird">
                                    <th>
                                        <label>@(isar?qty.Name:qty.Name_EN)</label>
                                    </th>
                                    <td class="row">
                                        @foreach (var c in qty.Check)
                                        {
                                            <label class="checkbox col-4">
                                                <input type="checkbox" data-value="@(c.Name+"-"+c.Name_EN)" value="@c.Name_EN" name="@qty.Name_EN-@qty.ID">
                                                @(isar?c.Name:c.Name_EN)
                                            </label>
                                        }
                                    </td>
                                </tr>
                                break;
                            case "R":
                                <tr data-id="@qty.T-@qty.ID" data-name="@qty.Name-@qty.Name_EN" data-required="@qty.Requird">
                                    <th>
                                        <label>@(isar?qty.Name:qty.Name_EN)</label>
                                    </th>
                                    <td class="row">
                                        @foreach (var c in qty.Radio)
                                        {
                                            <label class="checkbox col-4">
                                                <input type="radio" data-value="@(c.Name+"-"+c.Name_EN)" value="@c.Name_EN" name="@qty.Name_EN-@qty.ID">
                                                @(isar?c.Name:c.Name_EN)
                                            </label>
                                        }
                                    </td>
                                </tr>
                                break;
                            case "D":
                                <tr data-id="@qty.T-@qty.ID" data-name="@qty.Name-@qty.Name_EN" data-required="@qty.Requird">
                                    <th>
                                        <label>
                                            @(isar?qty.Name:qty.Name_EN)
                                        </label>
                                    </th>
                                    <td>
                                        <input class="form-control" type="date" />
                                    </td>
                                </tr>
                                break;
                            case "S":
                                <tr class="@(qty.Sepa.Empty?"EmptySpace":"Space")">
                                    <th>
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                                break;
                            case "T":
                                <tr class="border">
                                    <th style="width: 100% !important;" colspan="4">
                                        <h2 style="margin-bottom: 0px; text-align: center; color: var(--main-btn-color);">@(isar?qty.Name:qty.Name_EN)</h2>
                                    </th>
                                    <td></td>
                                </tr>
                                break;
                            case "E":
                                <tr data-id="@qty.T-@qty.ID" data-name="@qty.Name-@qty.Name_EN">
                                    <th>
                                        <label>
                                            @(isar?qty.Name:qty.Name_EN)
                                        </label>
                                    </th>
                                    <td>
                                        <label data-ref="@qty.Ref" style="white-space: pre-wrap;">  </label>
                                    </td>
                                </tr>
                                break;
                            case "P":
                                <tr class="border">
                                    <th style="width: 100% !important;" colspan="4">
                                        <p style="margin-bottom: 0px; text-align: center; color: var(--main-btn-color);">@(isar?qty.Para.Name:qty.Para.Name_En)</p>
                                    </th>
                                    <td></td>
                                </tr>
                                break;
                            default:
                                break;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer" style="display: flex; justify-content: center; flex-direction: column;">
            <p class="row text-center" style="color:red">
                @(
                isar?

                @"برجاء التأكد من كل البيانات قبل الضغط علي حفظ.":

                @"Please make sure of all the data before pressing Save."
                )
            </p>
            <div>
                <button type="button" class="btn btn-primary w-40 mx-3 saveeform" style="background-color: var(--main-btn-color); width: 22vw; ">@(isar?"حفظ":"Save")</button>
                <button type="button" class="btn btn-secondary w-40" onclick="() => { $('.modal-backdrop').remove()}" data-bs-dismiss="modal">@(isar?"اغلاق":"Close")</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(i => {
        $('#myModal').on('hidden.bs.modal', function () {
            $('.modal-backdrop').remove()
        })
        $('[data-bs-dismiss="modal"]').click(s => {
            $('.modal-backdrop').remove()
        })
    })
</script>