@model IAUAdmin.DTO.Entity.MainServiceDTO
@{
    ViewBag.Title = "Edit Service";
    ViewBag.pTitle = "Edit Service";
    ViewBag.pageTitle = "Main Service";
    ViewBag.arTitle = "تعديل خدمة";
    ViewBag.arpageTitle = "تعديل خدمة";
    ViewBag.arpTitle = "الخدمات الرئيسية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/bootstrap-multiselect/css/bootstrap-multiselect.min.css" rel="stylesheet" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<style>
    label.control-label::after {
        content: ":";
    }

    label.control-label {
        font-weight: bold;
    }
    .multiselect-container.dropdown-menu.show {
        overflow: auto;
        height: 500px;
    }
</style>
<style>
    span.select2-selection.select2-selection {
        height: 36px !important;
    }

    span.select2 {
        width: 100% !important
    }

    .select2-selection__rendered, .select2-selection__arrow {
        margin-top: 3px;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title" key="t-basicInfo">Basic Information</h4>

                @using (Html.BeginForm("Edit", "ServicesBank", FormMethod.Post, new { encType = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" key="t-name" for="name">Name</label>
                                @Html.TextBoxFor(q => q.Main_Services_Name_AR, new { @class = "form-control ar-font", @name = "name", @id = "name", @required = "true" })
                            </div>
                            <div class="form-group">
                                <label class="control-label" key="t-servicetype">units</label>
                                @Html.DropDownListFor(q => q.ServiceTypeID, ViewBag.ServiceType as SelectList, new { @class = "form-control select2", @required = "true" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" key="t-enname" for="Ename">ENNAME</label>
                                @Html.TextBoxFor(q => q.Main_Services_Name_EN, new { @class = "form-control en-font", @name = "Ename", @id = "Ename", @required = "true" })
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mb-3 p-0">
                                    <label class="control-label w-100" key="t-Applicanttype">Applicanttype</label>
                                    @{
                                        var isar = Request.Cookies["lang"].Value == "ar";
                                        var ApplicantType = ViewBag.ApplicantType as List<IAUAdmin.DTO.Entity.ApplicantTypeDTO>;
                                    }
                                    <select multiple="multiple" required name="Applicant_Types">
                                        <optgroup label="@(isar?"منسوبي للجامعة":"IAU Affliated")">
                                            @foreach (var i in ApplicantType.Where(q => q.Affliated))
                                            {
                                                <option value="@i.Applicant_Type_ID">@(isar?i.Applicant_Type_Name_AR:i.Applicant_Type_Name_EN)</option>
                                            }
                                        </optgroup>
                                        <optgroup label="@(isar?"غير منسوبي للجامعة":"Not IAU Affliated")">
                                            @foreach (var i in ApplicantType.Where(q => !q.Affliated))
                                            {
                                                <option value="@i.Applicant_Type_ID">@(isar?i.Applicant_Type_Name_AR:i.Applicant_Type_Name_EN)</option>
                                            }
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" key="t-save" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
                    @Html.ActionLink("Cancel", "Home", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
                }
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>
<script src="~/assets/libs/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>
@if (Request.Cookies["lang"].Value == "ar")
{
    <script>
        $.fn.multiselect.Constructor.prototype.defaults.selectAllText = "تحديد الكل";
        $.fn.multiselect.Constructor.prototype.defaults.filterPlaceholder = "بحث";
        $.fn.multiselect.Constructor.prototype.defaults.nonSelectedText = "لا يوجد عناصر";
        $.fn.multiselect.Constructor.prototype.defaults.nSelectedText = "اختر";
        $.fn.multiselect.Constructor.prototype.defaults.allSelectedText = "اختر الكل";
    </script>
    <style>
        .form-check-input {
            margin-right: unset !important
        }

        label.form-check-label {
            margin-right: 29px;
        }

        .multiselect-container.dropdown-menu.show {
            direction: rtl;
        }
    </style>
}
<script>
    $('[name="Applicant_Types"]').multiselect({
        includeSelectAllOption: true
    });
    $('[name="Applicant_Types"]').val("@(string.Join(",",Model.Applicant_Types.Select(q=>q.ToString())))".split(",")).multiselect("refresh")
</script>
