@model ICollection<IAUAdmin.DTO.Entity.MainServiceDTO>
@using System.Configuration;
@{
    ViewBag.Title = "Home Page";
    ViewBag.pageTitle = "Home Page";
    ViewBag.pTitle = "Main Service";
    ViewBag.arTitle = "الرئيسية";
    ViewBag.arpageTitle = "الرئيسية";
    ViewBag.arpTitle = "الخدمات الرئيسية";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ShowDelete = (TempData["Permissions"] as string[]).Contains("Delete Item");
}
<style>
    .t-start {
        text-align: start;
    }
</style>
<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="HeaderOfPage">
                    <p class="card-title-desc">
                        @*Manage Users*@
                    </p>

                    <a class="btn btn-circle" href=@Url.Action("Create")><i class="fas fa-plus-circle"></i></a>
                </div>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th key="t-name">Unit Name</th>
                            <th key="t-enname">Type En Name</th>
                            <th key="t-servicetype">Service Type Aliase</th>
                            <th key="t-activeTitle">Status</th>
                            <th key="t-subservices">sub-services</th>
                            <th></th>
                        </tr>
                    </thead>
                    @{
                        var lang = Request.Cookies["lang"].Value;
                        var url = ConfigurationManager.AppSettings["DomainName"].ToString();
                    }
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr onclick="Go(this,'@Url.Action("Detials", new { Id = i.Main_Services_ID })')">
                                <td class="TH-ar ar-font">@(i.Main_Services_Name_AR)</td>
                                <td class="TH-en en-font">@(i.Main_Services_Name_EN)</td>
                                <td>
                                    <img src=@(url+"/"+i.Service_Type.Image_Path) height="36px" />
                                </td>
                                <td>
                                    @Html.ActionLink("Active", i.IS_Action.Value ? "Deactive" : "Active", new { Id = i.Main_Services_ID }, new { @class = i.IS_Action.Value ? "btn btn-primary active" : "btn btn-danger deactive", @key = i.IS_Action.Value ? "t-active-Home" : "t-deactive-Home" })
                                </td>
                                <td>@Html.ActionLink("Home", "Home", "SubServices", new { MainService = i.Main_Services_ID, SharedVal = (Request.Cookies["lang"].Value == "ar" ? i.Main_Services_Name_AR : i.Main_Services_Name_EN) }, new { @class = "btn btn-primary", @key = "t-subservices" })</td>
                                <td>
                                    @Html.ActionLink((Request.Cookies["lang"].Value == "ar" ? "تعديل" : "Edit"), "Edit", new { Id = i.Main_Services_ID }, new { @class = "btn btn-primary", @key = "t-edit" })
                                    @{
                                        if (ShowDelete)
                                        {
                                            <button class="btn btn-primary" onclick="Delete('@i.Main_Services_ID')">@(Request.Cookies["lang"].Value == "ar" ? "حذف" : "Delete")</button>
                                        }
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- JAVASCRIPT -->


<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>
<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="~/assets/js/app.js"></script>
@if (ShowDelete)
{

    <script>
        let isar = "@(Request.Cookies["lang"].Value)" == "ar";


	function Delete(id) {
		event.stopPropagation()
		event.stopImmediatePropagation()
		Swal.fire({
			title:"@( Request.Cookies["lang"].Value == "ar" ? "هل انت متاكد من حذف هذه الخدمة الرئيسية؟" : "Are you sure To Delete this Main Service?")",
			text: "@(Request.Cookies["lang"].Value == "ar" ? "لن تستطيع ارجاع ذلك بعد اتمام العملية!" : "You won't be able to revert this!")",
			icon: "warning",
			showCancelButton: true,
			focusConfirm: false,
			confirmButtonColor: "#34c38f",
			cancelButtonColor: "#f46a6a",
			confirmButtonText: "@(Request.Cookies["lang"].Value == "ar" ? "موافق , احذف الخدمة" : "Yes, Delete it!")",
			cancelButtonText: "@(Request.Cookies["lang"].Value == "ar" ? "الغاء العملية" : "Cancel Process")",
		}).then(function (result) {
			if (result.value) {
				$.ajax({
					url: '/ServicesBank/Delete?id=' + id,method: "POST",  success: function (res) {
						if (res["success"] == true)
							location.href = location.href;
						else {
							let data = JSON.parse(res["result"])
                            console.log(data)
                            let units = "";
                            let msg = "";
                            if (data!=null&&data.units != 0) {
                                data.units.forEach(i => {
                                    units += `<a href="/units?uname=${encodeURIComponent(i.EN)}" target="_blank">${isar ? i.AR : i.EN}</a></br>`
                                })
                                msg="@(Request.Cookies["lang"].Value == "ar" ? "فشل الحذف . لانها مرتبطة بالفئات الإدارية التاليه:" : "Delete failed.Because it is related to the following Units:")</br>"
                                    +
                                    `
                                        <div class="mx-2">${units}</div>
                                        </hr>
                                    `
                            }
                            else
                                msg="@(Request.Cookies["lang"].Value == "ar" ? "فشل الحذف . لارتباطها بطلبات سابقة" : "Delete failed.It is related to previous requests")</br>"


							Swal.fire({
								  icon: 'error',
								  title: "@(Request.Cookies["lang"].Value == "ar" ? "فشل الحذف" : "Delete failed")",
                                  html: msg,
								  confirmButtonText:'@(Request.Cookies["lang"].Value == "ar" ? "حسنا" : "Okay")',
								})
						}
				}
			})
			}
		});
	}
    </script>
}
<script>
    $(document).ready(function () {
        let interval = setInterval(e => {
            if ($('#datatable-buttons_filter label input').length != 0) {
                clearInterval(interval)
                $('#datatable-buttons_filter label input').on('keydown', function () { getLanguage() })
            }
        }, 300)
    });
</script>
