@model ICollection<IAUAdmin.DTO.Entity.ReqestDTO>
@{
	ViewBag.Title = "Home";
	ViewBag.pTitle = "Emails";
	ViewBag.pageTitle = "Inbox";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<style>
	#MailList tr:nth-of-type(1) {
		background-color: #fff59d8f;
		color: white;
	}

		#MailList tr:nth-of-type(1) td {
			border: 0;
			color: black;
		}
</style>

@{
	var lang = Request.Cookies["lang"].Value;
}

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="col-12 justify-content-start">
					<button type="button" class="btn btn-primary d-inline-flex justify-content-around align-items-center"style="width: 85px;" data-toggle="modal" data-target="#FilterModal">
						<span key="t-filters"></span><i class="fas fa-caret-down"></i>
					</button>
				</div>

				<table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
					<thead>
						<tr>
							<th key="t-mainservice">ServiceType</th>
							<th key="t-request-type">RequestType</th>
							<th key="t-IAUAff">IS IAU</th>
							<th key="t-mostafidname">Name</th>
							<th key="t-date">Date</th>
							<th key="t-comment">Comment</th>
						</tr>
					</thead>
					<tbody id="MailList">
						@foreach (var i in Model)
						{
							<tr @*onclick="Preview('@Url.Action("Preview", new { Id = i.Request_Data_ID })')"*@>
								<td>@(lang == "ar" ? i.Service_Type.Service_Type_Name_AR : i.Service_Type.Service_Type_Name_EN)</td>
								<td>@(lang == "ar" ? i.Request_Type.Request_Type_Name_AR : i.Request_Type.Request_Type_Name_EN)</td>
								<td>
									@if (i.Personel_Data.IAU_ID_Number != "")
									{
										<span key="t-yes"></span>
									}
									else
									{
										<span key="t-no"></span>
									}

								</td>
								<td>@(i.Personel_Data.First_Name)</td>
								<td>
									@(i.CreatedDate.ToString("MM/dd - HH:mm"))
								</td>

								<td>@(i.Required_Fields_Notes == null ? "" : i.Required_Fields_Notes.Take(400))</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->

<script>
	function Preview(url) {
		window.location.href = url;
	}
</script>
<div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" @*style="max-width:97vw"*@>
		<div class="modal-content">
			<div class="modal-body m-0">
				<div class="row w-100 h-100 m-0">
					<div class="col-12 form-group">
						<label key="t-mainservice" class="control-label"></label>
						<select class="form-control select2">
							<option selected value="null" key="t-all">All</option>
							@foreach (var i in ViewBag.ServiceType)
							{
								<option value="@i.Service_Type_ID">@(lang=="ar"?i.Service_Type_Name_AR:i.Service_Type_Name_EN)</option>
							}
						</select>
					</div>
					<div class="col-12 form-group">
						<label key="t-request-type" class="control-label"></label>
						<select class="form-control select2">
							<option selected value="null" key="t-all">All</option>
							@foreach (var i in ViewBag.ReqTypes)
							{
								<option value="@i.Request_Type_ID">@(lang=="ar"?i.Request_Type_Name_AR : i.Request_Type_Name_EN)</option>
							}
						</select>
					</div>
					<div class="col-12 form-group">
						<label key="t-IAUAff" class="control-label"></label>
						<select class="form-control select2">
							<option selected value="0" key="t-no"></option>
							<option value="1" key="t-yes"></option>
						</select>
					</div>
					<div class="col-12 d-inline-flex justify-content-around">
						<div class="form-group">
							<label class="control-label" key="t-date-from">From</label>
							<input type="date" class="form-group" />
						</div>
						<div class="form-group">
							<label class="control-label" key="t-date-to">To</label>
							<input type="date" class="form-group" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" key="t-cancel">Close</button>
				<button type="button" class="btn btn-primary" key="t-filter">Filter</button>
			</div>
		</div>
	</div>
</div>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>

<script src="~/assets/js/app.js"></script>




<script src="~/assets/js/pdf.js"></script>
<script src="~/assets/js/pdf.worker.js"></script>
