@model ICollection<IAUAdmin.DTO.Entity.ReqestDTO>
@{
	ViewBag.Title = "Home";
	ViewBag.pTitle = "Emails";
	ViewBag.pageTitle = "Inbox";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />
<style>
	.date{
		width:190px !important
	}
</style>

@{
	var lang = Request.Cookies["lang"].Value;
}
<div class="row">
	<div class="col-12">
		<div class="mb-3">
			<div class="card">
				<ul class="message-list m-0" id="MailList">
					@foreach (var i in Model)
					{
						<li onclick="Preview('@Url.Action("Preview",new {Id=i.Request_Data_ID })')">
							<div class="col-mail col-mail-1">
								<a href="#" class="title">@(i.Personel_Data.First_Name+" "+i.Personel_Data.Middle_Name)</a>@*<span class="star-toggle far fa-star"></span>*@
							</div>
							<div class="col-mail col-mail-2">
								<a href="#" class="subject">
									<span class="badge-success badge mr-2">@(lang=="ar"? i.Service_Type.Service_Type_Name_AR:i.Service_Type.Service_Type_Name_EN)</span>
									<span class="badge-pink badge mr-2">@(lang=="ar"? i.Request_Type.Request_Type_Name_AR:i.Request_Type.Request_Type_Name_EN)</span>
									<span class="badge-dark badge mr-2">@(i.Personel_Data.IAU_ID_Number!="")</span>
									<span class="teaser">@(i.Required_Fields_Notes==null?"": i.Required_Fields_Notes.Take(400))</span>
								</a>
								<div class="date">@(i.CreatedDate.ToString("MM/dd - HH:mm"))</div>
							</div>
						</li>
					}

				</ul>

			</div>

			<div class="row">
				<div class="col-7">
					Showing 1 - 20 of 30
				</div>
				<div class="col-5">
					<div class="btn-group float-right">
						<button type="button" class="btn btn-sm btn-success waves-effect"><i class="fa fa-chevron-left"></i></button>
						<button type="button" class="btn btn-sm btn-success waves-effect"><i class="fa fa-chevron-right"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function Preview(url) {
		window.location.href = url;
	}
</script>
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Summernote js -->
<script src="~/assets/libs/summernote/summernote-bs4.min.js"></script>

<!-- email summernote init -->
<script src="~/assets/js/pages/email-summernote.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>