@model IAUAdmin.DTO.Entity.ReqestDTO
@using System.Configuration;
@{
	ViewBag.Title = "Preview";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Summernote css -->
<link href="~/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />

<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<style>
	.select2-selection__rendered {
		font-weight: normal;
	}

	.select2-selection__rendered, .select2-selection__arrow {
		margin-top: 3px;
	}
	span.select2-selection.select2-selection {
		height: 36px !important;
	}
	.FileTitle {
		position: absolute;
		bottom: 42px;
		display: flex;
		background: #6b686866;
		width: 100%;
		align-items: center;
		justify-content: center;
		color: #0a1332;
		margin: 0;
		border-radius: 6px 9px 0 0;
	}

	label.control-label::after {
		content: ":";
	}

	label.control-label {
		font-weight: bold;
	}

	#CodeGenrateDiv input {
		border: 1px solid;
	}

	#CodeGenrateDiv {
		display: inline-flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		direction: ltr !important;
	}

		#CodeGenrateDiv input {
			margin: 0 5px;
			width: 33px;
		}

	.FileTitle p {
		margin: 0;
		padding: 1px 0px;
		white-space: nowrap;
		font-size: 10px;
	}

	table#PDFTable {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 29px;
	}

	#padf div img {
		width: 120px !important;
	}

	#padf {
		overflow-y: auto;
		overflow-x: hidden;
		height: 150px;
		width: 650px;
	}

	.boldtitle {
		font-weight: 900;
		padding: 5px 0;
		font-size: 21px;
	}


	table#PDFTable tbody tr th {
		text-align: start !important;
		font-family: 'DroidArabicKufiRegular' !important;
		font-size: 19px;
		padding: 6px 19px;
	}

		table#PDFTable tbody tr th:not(.boldtitle) {
			border: 1px solid #eee;
		}

			table#PDFTable tbody tr th:not(.boldtitle):nth-of-type(2n) {
				font-weight: normal
			}

		table#PDFTable tbody tr th.boldtitle {
			font-size: 28px;
			color: #283858;
		}

	.PDFOuterView {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
@{
	var isAr = Request.Cookies["lang"].Value == "ar";
	var url = ConfigurationManager.AppSettings["DomainName"].ToString();
}
<div class="row">
	<div class="col-12">
		<div class="mb-3">
			@*<span style="display:none" id="NONE">@Model.Request_Data_ID</span>*@
			<div class="card">
				<div class="card-body">
					<div class="media mb-4 justify-content-center align-content-center">
						<i class="rounded-circle header-profile-user bx bx-user font-size-16 align-middle mr-1" style=" display: flex; justify-content: center; align-items: center;font-size: 43px !important;height:100%"></i>						<div class="media-body">
							<h5 class="font-size-14 mt-1">@Model.Personel_Data.First_Name</h5>
							<small class="text-muted">@Model.Personel_Data.Email</small>
						</div>
					</div>
					<div class="PDFOuterView">
						<div id="padf" class="pdfnotloaded">
							<div style="padding: 15px;display: inline-flex;justify-content: space-between;width: 100%;">
								<img src="~/assets/images/MousLogo2.png">
								<img src="~/assets/images/VisionLogo.png">
							</div>
							<table class='container' id="PDFTable" style="width: 100%;padding: 15px;">
								<tbody>
									<tr>
										<th class="boldtitle" key="t-summary"></th>
									</tr>
									<tr>
										<th key="t-serviceType"></th>
										<th>@(isAr? Model.Service_Type.Service_Type_Name_AR: Model.Service_Type.Service_Type_Name_EN)</th>
									</tr>
									<tr>
										<th key="t-reqtype"></th>
										<th>@(isAr? Model.Request_Type.Request_Type_Name_AR: Model.Request_Type.Request_Type_Name_EN)</th>
									</tr>
									<tr>
										<th class="boldtitle" key="t-personalData"></th>
									</tr>
									<tr>
										<th class="boldtitle" key="t-genralInfo"></th>
									</tr>
									<tr>
										<th key="t-IAUAff"></th>
										<th><span key="@(Model.Personel_Data.IAU_ID_Number!=null?"t-yes":"t-no")"></span></th>
									</tr>
									<tr>
										<th key="t-applicanttype"></th>
										<th>@(isAr?Model.Personel_Data.Applicant_Type.Applicant_Type_Name_AR: Model.Personel_Data.Applicant_Type.Applicant_Type_Name_EN)</th>
									</tr>
									<tr>
										<th key="t-firstname"></th>
										<th>@Model.Personel_Data.First_Name</th>
									</tr>
									<tr>
										<th key="t-middlename"></th>
										<th>@Model.Personel_Data.Middle_Name</th>
									</tr>
									<tr>
										<th key="t-lastname"></th>
										<th>@Model.Personel_Data.Last_Name</th>
									</tr>
									<tr>
										<th class="boldtitle" key="t-nationalty"></th>
									</tr>
									<tr>
										<th key="t-nationalty"></th>
										<th>@(isAr? Model.Personel_Data.Country.Country_Name_AR: Model.Personel_Data.Country.Country_Name_EN)</th>
									</tr>
									<tr>
										<th key="t-country"></th>
										<th>@(isAr? Model.Personel_Data.Country1.Country_Name_AR: Model.Personel_Data.Country1.Country_Name_EN)</th>
									</tr>
									<tr>
										<th key="t-iddoc"></th>
										<th>@(isAr?Model.Personel_Data.ID_Document1.Document_Name_AR: Model.Personel_Data.ID_Document1.Document_Name_EN)</th>
									</tr>
									<tr>
										<th key="t-idnumber"></th>
										<th>@(Model.Personel_Data.ID_Number)</th>
									</tr>
									<tr>
										<th class="boldtitle" key="t-address"></th>
									</tr>
									<tr>
										<th key="t-city"></th>
										<th>@Model.Personel_Data.Address_City</th>
									</tr>
									<tr>
										<th key="t-region"></th>
										<th>@Model.Personel_Data.Adress_Region</th>
									</tr>
									<tr>
										<th key="t-country"></th>
										<th>@(isAr? Model.Personel_Data.Country2.Country_Name_AR: Model.Personel_Data.Country2.Country_Name_EN)</th>
									</tr>
									<tr>
										<th key="t-postal"></th>
										<th>@Model.Personel_Data.Postal_Code</th>
									</tr>
									<tr>
										<th class="boldtitle" key="t-contactinfo"></th>
									</tr>
									<tr>
										<th key="t-email"></th>
										<th>@Model.Personel_Data.Email</th>
									</tr>
									<tr>
										<th key="t-phone"></th>
										<th>@Model.Personel_Data.Mobile</th>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<p class="card-title-desc" key="t-RequiredDocs">
								RequiredDocs
							</p>
							<div class="row">
								@foreach (var i in Model.Request_File.Where(q => q.RequiredDoc_ID != null))
								{
									<div class="col-4">
										<div class="card">
											<img class="card-img-top img-fluid" src="~/assets/images/attachment.png" alt="Card image cap">
											<div class="FileTitle row">
												<p class="row" key="t-requirddoc">@(isAr? i.Required_Documents.Name_AR: @i.Required_Documents.Name_EN)</p>
												<p class="row">@i.File_Name</p>
											</div>
											<div class="py-2 text-center">
												<a target="_blank" href="@url/@i.File_Path" class="font-weight-medium" key="t-preview">Preview</a>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						<div class="col-4">
							<p class="card-title-desc" key="t-SupportiedDocs">
								SupportiedDocs
							</p>
							<div class="row">
								@foreach (var i in Model.Request_File.Where(q => q.RequiredDoc_ID == null))
								{
									<div class="col-4">
										<div class="card">
											<img class="card-img-top img-fluid" src="~/assets/images/attachment.png" alt="Card image cap">
											<div class="FileTitle row">
												<p class="row">@i.File_Name</p>
											</div>
											<div class="py-2 text-center">
												<a target="_blank" href="@url/@i.File_Path" class="font-weight-medium" key="t-preview">Preview</a>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						<div class="col-4">
							<p class="card-title-desc" key="t-eforms">
								Eforms
							</p>
						</div>

					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label class="control-label" key="t-title-unitrefnum" for="servicetype">Code</label>
								<div style="display:inline-flex" id="CodeGenrateDiv">
									@foreach (var i in new string[13])
									{
										<input class="form-control Genratedcode en-font" value="0" readonly disabled />
									}
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label key="t-e-source" class="control-label">Source</label>
								@Html.DropDownListFor(model => model.IsTwasul_OC, ViewBag.Source as IEnumerable<SelectListItem>, new { @class = "select2 form-control", @name = "type", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
							</div>
							<div class="form-group">
								<label key="t-ServiceType" class="control-label">ServiceType</label>
								@Html.DropDownListFor(model => model.Service_Type_ID, ViewBag.ServiceType as SelectList, new { @class = "select2 form-control", @name = "serviceType", @onchange = "ServiceChange(event.target.value)", @id = "ServiceType", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
							</div>
							<div class="form-group">
								<label key="t-RequestType" class="control-label">RequestType</label>
								@Html.DropDownListFor(model => model.Request_Type_ID, ViewBag.ReqTypes as SelectList, new { @class = "select2 form-control", @name = "reqType", @onchange = "RequestChange(event.target.value)", @id = "ReqestType", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label key="t-subunits" class="control-label" style="height:70px">Processing Location</label>
								
							</div>
							<div class="form-group">
								<label key="t-Campus" class="control-label">Campus</label>
								@Html.DropDownList("locations", (ViewBag.Locations as SelectList).Prepend(new SelectListItem() { Text = isAr ? "الكل" : "All", Value = "null" }), new { @class = "select2 form-control ", @id = "location", @onchange = "LocChange(event.target.value)", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
							</div>
							<div class="form-group">
								<label key="t-Buiding" class="control-label">Buiding</label>
								<select id="Building" class="form-control select2" onchange="BuildChange(event.target.value)">
									<option value="null" selected>@(isAr?"الكل" :"ALL")</option>
								</select>
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label key="t-Provider" class="control-label">Provider</label>
								@Html.DropDownListFor(q => q.Unit_ID, ViewBag.Units as IEnumerable<SelectListItem>, new { @class = "select2 form-control", @name = "unit", @id = "Units", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
							</div>
							<div class="form-group">
								<label key="t-ExpectedTime" class="control-label">ExpectedTime</label>
								<input name="Expected" type="date" class="form-control  en-font" />
							</div>
							<div class="form-group">
								<label key="t-Status" class="control-label">Status</label>
								<select id="SubUnits" class="form-control select2">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<p class="card-title-desc" key="t-Actions">
						Actions
					</p>
					<div class="row">
						<div class="col-4">
							<button class="btn btn-primary w-100">1 - تكويد</button>
						</div>
						<div class="col-4">
							<button class="btn btn-primary w-100">2 - توجييه</button>
						</div>
						<div class="col-4 justify-content-center d-flex">
							<button class="btn btn-danger">اغلاق الطلب</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Summernote js -->
<script src="~/assets/libs/summernote/summernote-bs4.min.js"></script>

<!-- email summernote init -->
<script src="~/assets/js/pages/email-summernote.init.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>
<script src="~/assets/js/pdf.js"></script>
<script src="~/assets/js/pdf.worker.js"></script>
<script>

</script>