@model IAUAdmin.DTO.Entity.UnitLevelDTO
@{
	ViewBag.Title = "Edit Level";
	ViewBag.pTitle = "Edit Level";
	ViewBag.pageTitle = "Levels";
	ViewBag.arTitle = "تعديل مستوي";
	ViewBag.arpageTitle = "تعديل مستوي";
	ViewBag.arpTitle = "المستويات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />


<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title" key="t-basicInfo">Basic Information</h4>

				@using (Html.BeginForm("Edit", "Levels", FormMethod.Post, new { @class = "repeater" }))
				{
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-name" for="name">Name</label>
								@Html.TextBoxFor(q => q.Name_AR, new { @class = "form-control", @name = "name", @id = "name" })
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-enname" for="enname">Mobile</label>
								@Html.TextBoxFor(q => q.Name_EN, new { @class = "form-control", @name = "enname", @id = "enname" })
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-code" for="code">Mobile</label>
								@Html.TextBoxFor(q => q.Code, new { @class = "form-control", @name = "code", @id = "code" })
							</div>
						</div>
						<div style="display:inline-flex;justify-content:space-between;width: 100%;padding: 0 11px;">
							<h4 key="t-unit-type" class="card-title">Basic Information</h4>
							<button id="AddRecord" data-repeater-create type="button" class="btn btn-circle mt-3 mt-lg-0"><i class="fas fa-plus-circle" style="font-size:18px;color:green"></i></button>
						</div>

						<div class="col-12">
							<div data-repeater-list="group-a" id="RequiredDocumnets">
								@foreach (var i in Model.Units_Type)
								{
									<div class="row RequiredDIV">
										<span style="display:none" class="FORM-ID">@i.Units_Type_ID</span>
										<div class="form-group col-4">
											<label key="t-name" for="name">Name</label>
											<input type="text" id="name" name="untyped-input" class="form-control FORM-name" value="@i.Units_Type_Name_AR" />
										</div>

										<div class="form-group col-3">
											<label key="t-enname" for="enname">Email</label>
											<input type="text" id="enname" class="form-control FORM-enname" value="@i.Units_Type_Name_EN" />
										</div>
										<div class="form-group col-3">
											<label key="t-Typecode" for="code">Code</label>
											<input type="text" id="code" class="form-control FORM-code" value="@i.Code" />
										</div>
										<div class="form-group col-2">
											<label key="t-activeTitle" for="isaction">Email</label>
											<input type="checkbox" id="isaction" class="form-control FORM-Active" style="height: 20px;" @(i.IS_Action.Value ? "checked" : "") />
										</div>
									</div>
								}
								<div data-repeater-item class="row RequiredDIV">
									<div class="form-group col-4">
										<label key="t-name" for="name">Name</label>
										<input type="text" id="name" name="untyped-input" class="form-control FORM-name" />
									</div>

									<div class="form-group col-3">
										<label key="t-enname" for="enname">Email</label>
										<input type="text" id="enname" class="form-control FORM-enname" />
									</div>
									<div class="form-group col-3">
										<label key="t-Typecode" for="code">Code</label>
										<input type="text" id="code" class="form-control FORM-code" />
									</div>
									<div class="col-lg-2 align-self-center">
										<button data-repeater-delete type="button" class="btn"><i class="fas fa-trash" style="font-size:15px;color:red"></i></button>
									</div>
								</div>
							</div>
						</div>
						@Html.EditorFor(q => q.Units_Type_STR, new { htmlAttributes = new { @class = "form-control", @disable = "true", @style = "display:none !important" } })

					</div>
					<button id="submir" type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="display:none"></button>
				}
				<button onclick="Save()" type="submit" key="t-save" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
				@Html.ActionLink("Cancel", "Home", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
			</div>
		</div>
	</div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>
<script src="~/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

<script src="~/assets/js/pages/form-repeater.int.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>
<script>
	$(document).ready(function (eee) {
		document.getElementById('AddRecord').addEventListener('click', function (f) {
			getLanguage();
		})
	})
	function Save() {
		var data = [];
		var TypeAR = document.getElementsByClassName('FORM-name');
		var TypeEN = document.getElementsByClassName('FORM-enname');
		var TypeCode = document.getElementsByClassName('FORM-code');
		var TypeCheck = document.getElementsByClassName('FORM-Active');
		var TypeID = document.getElementsByClassName('FORM-ID');
		let i = 0;
		var lengthExist = TypeCheck.length;
		var lengthAll = TypeAR.length;
		for (; i < lengthExist; i++) {
			let name = TypeAR[i].value
			let enname = TypeEN[i].value
			let code = TypeCode[i].value
			let ID = TypeID[i].innerHTML
			let Check = TypeCheck[i].checked
			if (name != "" && enname != "")
				data.push({ Units_Type_ID: ID, Units_Type_Name_EN: enname, Units_Type_Name_AR: name, Code: code, IS_Action: Check });
		}
		for (; i < lengthAll; i++) {
			let name = TypeAR[i].value
			let enname = TypeEN[i].value
			let code = TypeCode[i].value
			if (name != "" && enname != "")
				data.push({ Units_Type_Name_EN: enname, Units_Type_Name_AR: name, Code: code, IS_Action: true });
		}
		document.getElementById("Units_Type_STR").value = JSON.stringify(data);
		$('#submir').click();
	}
</script>