
@{
	Layout = null;
	ViewBag.Title = "IAU-BSC | Coordinate";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>IAU-BSC | Coordinate</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="~/Design/CSS/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Design/CSS/all.min.css" />
	<link rel="stylesheet" href="~/Design/CSS/style.css" />
	<meta name="description" content=" مستفيد,تقديم طلب ،استفسار عن طلب ,جامعة الامام ,الامام بن عبد الرحمن,iau,mostafid,mustafid,new request,inquery,contact-us,IAU">
	<meta name="keywords" content=" مستفيد,تقديم طلب ،استفسار عن طلب ,جامعة الامام ,الامام بن عبد الرحمن,iau,mostafid,mustafid,new request,inquery,contact-us,IAU">

	<style>
	</style>
	@if (ViewBag.CookieLang == "ar")
	{
		<style>
			a.nav-link {
				font-weight: bold;
				font-size: 19px;
			}
		</style>
		<link href="~/Design/CSS/arStyle.css" rel="stylesheet" />
	}
</head>
<body class="@ViewBag.CookieLang">
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="~/Design/img/IAULOGO.png" /> <img src="~/Design/img/MousLogo2.png" />
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
					aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fas fa-bars" style="color: #b6a1a1;
		  font-size: 30px;"></i>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					@if (ViewBag.CookieLang == "ar")
					{
						<li class="nav-item">
							<a class="nav-link" href="~/Main">الرئيسية</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="~/Home">تقديم/متابعة طلب</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="~/Coordinator">المنسقين</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Contactus">المساعدة والدعم الفني</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link" href="~/Home/Index">Main</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="~/Home/Index">Submit/Follow-up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="~/Coordinator">Coordinator</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Contactus">help and support</a>
						</li>
					}
					<li id="nav-contact" style="display:none;">
						<a class="nav-link" href="/Contactus">@(ViewBag.CookieLang == "ar" ? "اتصل بنا" : "Contact")</a>
					</li>
					<li id="nav-lang" style="display:none;">
                        <a class="nav-link"
                           href=@(Request.Cookies["lang"].Value == "ar" ? Url.Action("ChangeLang","Home",new { lang="en",redirect=Request.Url.ToString()})
													: Url.Action("ChangeLang","Home",new { lang="ar",redirect=Request.Url.ToString()}))>
                            @(Request.Cookies["lang"].Value == "ar" ? "EN" : "AR")
                        </a>
					</li>
				</ul>
				<div class="vision">
					<div>
						@if (ViewBag.CookieLang == "ar")
						{
							<button href="/Contactus"><a href="/Contactus" style="text-decoration:none;color:white">اتصل بنا</a></button>
						}
						else
						{
							<button><a href="/Contactus" style="text-decoration:none;color:white">Contact</a></button>
						}
						@Html.Partial("~/Views/Shared/_Language.cshtml")
					</div>
					<img src="~/Design/img/VisionLogo2.png">
				</div>
			</div>
		</div>
	</nav>
	<ul class="nav nav-pills nav-fill" style="display: none;">
		<li class="nav-item">
			<a class="nav-link">Service Type</a>
		</li>
		<li class="nav-item">
			<a class="nav-link">Request Type</a>
		</li>
		<li class="nav-item">
			<a class="nav-link">Personel Data</a>
		</li>
		<li class="nav-item">
			<a class="nav-link">Request Data</a>
		</li>
		<li class="nav-item">
			<a class="nav-link">Confirmation</a>
		</li>
	</ul>
	<div class="col-md-12 Login">
		<div class="container">
			<div class="master-login">
				@using (Html.BeginForm("Index", "Coordinator"))
				{
					@Html.AntiForgeryToken()
					<div class="logo">
						<img src="~/Design/img/MousLogo2.png" />
						@if (ViewBag.CookieLang == "ar")
						{
							<p>الرجاء إدخال<br />البريد الإلكتروني وكلمة المرور</p>
						}
						else
						{
							<p>Please Insert <br />Email And Password</p>
						}

					</div><div class="body">
						@if ((bool)(ViewBag.Error ?? false))
						{
							<div class="alert alert-danger">
								@(ViewBag.CookieLang == "ar"?"خطاء في كلمة السر او البريد الإلكتروني":"Invalid Email Or Password")
							</div>
						}
						@if (ViewBag.CookieLang == "ar")
						{
							<label>البريد الالكترونى</label>
							<input autocomplete="off" name="email" placeholder="ادخل البريد الالكترونى" />
							<label>كلمة المرور</label>
							<input autocomplete="off" name="pass" type="password" placeholder="ادخل كلمة المرور" />
						}
						else
						{
							<label>Email</label>
							<input autocomplete="off" name="email" placeholder="Enter Your Email" />
							<label>password</label>
							<input autocomplete="off" name="pass" type="password" placeholder="Enter Your Password" />
						}

					</div>
					<div class="action">
						@if (ViewBag.CookieLang == "ar")
						{
							<button id="loginbtn" type="submit" value="Login" class="btn">تسجيل الدخول</button>
						}
						else
						{
							<button id="loginbtn" type="submit" value="Login" class="btn">Login</button>
						}
					</div>
				}
			</div>
		</div>
	</div>

	<script src="~/Design/JS/popper.js"></script>
	<script src="~/Design/JS/bootstrap.min.js"></script>
	<script src="~/Design/JS/jquery.js"></script>
</body>

</html>