@model IAUAdmin.DTO.Entity.UnitsDTO
@using AdminPanel.Controllers;
@using System.Configuration;
@{
	ViewBag.Title = "Create Unit";
	ViewBag.pTitle = "Create Unit";
	ViewBag.pageTitle = "Units";
	ViewBag.arTitle = "اضافة وحدة";
	ViewBag.arpTitle = "اضافة وحدة";
	ViewBag.arpageTitle = "الوحدات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<style>
	span.select2 {
		width: 100% !important
	}
</style>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				@{
					var lang = Request.Cookies["lang"].Value;
					@Html.Hidden("ss", lang, new { @id = "lang" })
				}
				<h4 key="t-basicInfo" class="card-title">Basic Information</h4>
				<p key="t-fillrequired" class="card-title-desc">Fill all information below</p>

				@using (Html.BeginForm("Create", "Units", FormMethod.Post, new { encType = "multipart/form-data" }))
				{
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-level" class="control-label">Types</label>
								@Html.DropDownListFor(q => q.LevelID, ViewBag.Levels as SelectList, new { @class = "form-control select2", @onchange = "LevelChange(event)", @id = "LEVEID" })
							</div>
							<div class="form-group">
								<label key="t-subunits" class="control-label">Types</label>
								<select id="SubUnits" class="form-control select2" onchange="SubUnitChange(event.target.value)">
								</select>
							</div>
							<div class="form-group">
								<label key="t-name" for="name">Name</label>
								@Html.TextBoxFor(q => q.Units_Name_AR, new { @class = "form-control", @name = "name", @id = "name" })
							</div>
							<div class="form-group">
								<label key="t-location" class="control-label">Loactions</label>
								@Html.DropDownListFor(q => q.Units_Location_ID, ViewBag.Locations as SelectList, new { @class = "form-control select2" })
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox mb-3 p-0">
									<label class="control-label" key="t-title-mainservice" for="servicetype">Main servicetype</label>
									@Html.DropDownListFor(model => model.ServiceTypeID, ViewBag.ServiceType as SelectList, new { @class = "select2 form-control", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
								</div>
							</div>

							<div class="form-group">
								<div class="custom-control custom-checkbox mb-3 p-0">
									<label class="control-label" key="t-requesttype" for="customCheck1">ReqTypes</label>
									@Html.ListBoxFor(model => model.Units_ReqType, ViewBag.ReqTypes as SelectList, new { @class = "select2 form-control select2-multiple", @id = "customCheck1", @multiple = "multiple", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
								</div>
							</div>
							@Html.HiddenFor(q => q.SubID, new { @id = "SubID" })
						</div>

						<div class="col-sm-6">
							<div class="form-group" style="display:inline-flex;width: 100%;margin:0">
								<div style="width: 65%; padding: 0 3px;">
									<label key="t-unittypes" class="control-label">Unit Type</label>
									<select id="UnitType" class="form-control select2" onchange="UnitTypeChange(event.target.value)">
									</select>
								</div>
								<div class="form-group" style="width: 35%; padding: 0 3px;">
									<label key="t-title-code" class="control-label">Code</label>
									<label id="TypeCode" style="width: 100%; padding: 5px;">Unit Code</label>
								</div>
							</div>
							<div class="form-group" style="display:inline-flex;width: 100%;height: fit-content;margin:0">
								<div style="width: 65%; padding: 0 3px;height: fit-content;">
									<label key="t-title-subunittypes" class="control-label"></label>
									<label id="SubTypeLevel" style="width: 100%; padding:0 5px; margin:0"></label>
								</div>
								<div class="form-group" style="width: 35%; padding: 0 3px;height: fit-content;">
									<label key="t-title-sub-code" class="control-label">SubTypeCode</label>
									<label id="SubTypeCode" style="width: 100%; padding:0 5px; margin:0"></label>
								</div>
							</div>
							<div class="form-group">
								<label key="t-enname" for="Ename">ENNAME</label>
								@Html.TextBoxFor(q => q.Units_Name_EN, new { @class = "form-control", @name = "Ename", @id = "Ename" })
							</div>

							<div class="form-group" style="margin:7px;">
								<label key="t-title-buildnum" for="Ename" class="control-label">Building</label>
								<div style="display:inline-flex;width:100%;">
									@Html.DropDownList(" ", (new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9 }.ConvertAll(a => { return new SelectListItem() { Value = a.ToString(), Text = a.ToString(), Selected = false }; })), new { @onchange = "BuildChange()", @class = "form-control BuldingNumber", @name = "Ename", @id = "Ename", @style = "padding:0 5px" })
									@Html.DropDownList(" ", (new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9 }.ConvertAll(a => { return new SelectListItem() { Value = a.ToString(), Text = a.ToString(), Selected = false }; })), new { @onchange = "BuildChange()", @class = "form-control BuldingNumber", @name = "Ename", @id = "Ename", @style = "padding:0 5px" })
									@Html.DropDownList(" ", (IEnumerable<SelectListItem>)ViewBag.Service_TypeCharList, new { @onchange = "BuildChange()", @class = "form-control BuldingNumber", @name = "Ename", @style = "padding:0 5px" })
								</div>
							</div>

							<div class="form-group">
								<div class="custom-control custom-checkbox mb-3 p-0">
									<label class="control-label" key="t-title-subservice" for="servicetype">Sub servicetype</label>
									@Html.ListBoxFor(model => model.Units_ServiceType, ViewBag.ServiceType as SelectList, new { @class = "select2 form-control select2-multiple", @multiple = "multiple", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
								</div>
							</div>

							@if ((bool)ViewBag.ViewMostafid)
							{
								<div class="form-group">
									<div class="custom-control custom-checkbox mb-3">
										@Html.CheckBoxFor(q => q.IS_Mostafid, new { @class = "custom-control-input", @name = "Ename", @id = "customCheck1", @type = "checkbox" })
										<label class="custom-control-label" key="t-ismostafid" for="customCheck1">ISMostafid</label>
									</div>
								</div>
							}

							@Html.HiddenFor(q => q.Units_Type_ID, new { @id = "TypeID" })
							@Html.HiddenFor(q => q.Building_Number, new { @id = "BuildNum" })
						</div>
					</div>
					<button type="submit" key="t-save" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
					@Html.ActionLink("Cancel", "Home", "Units", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
				}

			</div>
		</div>

	</div>
</div>
<!-- end row -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script>
	let UnitTypes = [];
	$(document).ready(w => {
		getUnitTypes(document.getElementById('LEVEID').value)
		BuildChange();
	})
	function getUnitTypes(ID) {
		$.ajax({
			url: "/Units/getUnitTypes?id=" + ID, success: function (e) {
				console.log(e)
				UnitTypes = e;
				var select = document.getElementById('UnitType');
				select.innerHTML = ``;
				if (e.length != 0) {
					$('#TypeID').val(e[0]["Units_Type_ID"]);
					$('#TypeCode').text(e[0]["Code"]);
					var lang = document.getElementById("lang").value
					e.forEach(d => {
						select.innerHTML += `<option value="${d["Units_Type_ID"]}">${lang == "ar" ? d["Units_Type_Name_AR"] : d["Units_Type_Name_EN"]}</option>`
					})
				}
			}, error: function (ee) {
				console.log("error", ee)
			}
		})
	}
	function UnitTypeChange(ID) {
		let CodeView = UnitTypes.find(q => q.Units_Type_ID == ID)
		if (CodeView != null)
			$('#TypeCode').text(CodeView.Code);

	}
	function LevelChange(eve) {
		getUnitTypes(eve.target.value)
		$.ajax({
			url: "/Units/getUnits?id=" + eve.target.value, success: function (e) {
				if (e.length != 0) {
					SubUnitChange(e[0]["Units_ID"]);
					var select = document.getElementById('SubUnits');
					var lang = document.getElementById("lang").value
					select.innerHTML = ``;
					e.forEach(d => {
						select.innerHTML += `<option value="${d["Units_ID"]}">${lang == "ar" ? d["Units_Name_AR"] : d["Units_Name_EN"]}</option>`
					})
				}
			}, error: function (ee) {
				console.log("error", ee)
			}
		})
	}
	function SubUnitChange(val) {
		$('#SubID').val(val);
		$.ajax({
			url: "/Units/getTypeOFUnit?id=" + val, success: function (d) {
				var lang = document.getElementById("lang").value
				$('#SubTypeLevel').text(lang == "ar" ? d["Units_Type_Name_AR"] : d["Units_Type_Name_EN"]);
				$('#SubTypeCode').text(d["Code"]);
			}, error: function (ee) {
				console.log("error", ee)
			}
		})
	}
	function BuildChange() {
		let BuildngsControls = document.getElementsByClassName('BuldingNumber')

		let BuildNumber = ([...BuildngsControls]).reduce(function (a, c) {
			if (a.value == undefined)
				return c.value + a;
			else
				return c.value + a.value
		})

		$('#BuildNum').val(BuildNumber)
	}
</script>
<!-- JAVASCRIPT -->
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
