@model IAUAdmin.DTO.Entity.UnitsDTO
@{
	ViewBag.Title = "Create Unit";
	ViewBag.pTitle = "Create Unit";
	ViewBag.pageTitle = "Units";
	ViewBag.arTitle = "اضافة نوع";
	ViewBag.arpTitle = "اضافة نوع";
	ViewBag.arpageTitle = "أنواع الخدمات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<style>
	span.select2 {
		width: 100% !important
	}
</style>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<h4 key="t-basicInfo" class="card-title">Basic Information</h4>
				<p key="t-fillrequired" class="card-title-desc">Fill all information below</p>

				@using (Html.BeginForm("Create", "Units", FormMethod.Post, new { encType = "multipart/form-data" }))
				{
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-name" for="name">Name</label>
								@Html.TextBoxFor(q => q.Units_Name_AR, new { @class = "form-control", @name = "name", @id = "name" })
							</div>
							<div class="form-group">
								<label key="t-location" class="control-label">Loactions</label>
								@Html.DropDownListFor(q => q.Units_Location_ID, ViewBag.Locations as SelectList, new { @class = "form-control select2" })
							</div>
							<div class="form-group">
								<label key="t-servicetype" class="control-label">Services</label>
								@Html.DropDownListFor(q => q.ServiceType_ID, ViewBag.Services as SelectList, new { @class = "form-control select2" })
							</div>

							@if ((bool)ViewBag.ViewMostafid)
							{
								<div class="form-group">
									<div class="custom-control custom-checkbox mb-3">
										@Html.CheckBoxFor(q => q.IS_Mostafid, new { @class = "custom-control-input", @name = "Ename", @id = "customCheck1", @type = "checkbox" })
										<label class="custom-control-label" key="t-ismostafid" for="customCheck1">ISMostafid</label>
									</div>
								</div>
							}
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-enname" for="Ename">ENNAME</label>
								@Html.TextBoxFor(q => q.Units_Name_EN, new { @class = "form-control", @name = "Ename", @id = "Ename" })
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox mb-3 p-0">
									<label class="control-label" key="t-requesttype" for="customCheck1">ReqTypes</label>
									@Html.ListBoxFor(model => model.Units_ReqType, ViewBag.ReqTypes as SelectList, new { @class = "select2 form-control select2-multiple", @multiple = "multiple" })
								</div>
							</div>
							<div class="form-group">
								<label key="t-unittypes" class="control-label">Types</label>
								@Html.DropDownListFor(q => q.Units_Type_ID, ViewBag.Types as SelectList, new { @class = "form-control select2", })
							</div>
						</div>
					</div>
					<button type="submit" key="t-save" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
					@Html.ActionLink("Cancel", "Home", "Units", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
				}

			</div>
		</div>

	</div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
