@model IAUAdmin.DTO.Entity.UnitsDTO
@{
	ViewBag.Title = "Edit Unit";
	ViewBag.pTitle = "Edit Unit";
	ViewBag.pageTitle = "Units";
	ViewBag.arTitle = "تعديل وحدة";
	ViewBag.arpageTitle = "تعديل وحدة";
	ViewBag.arpTitle = "الوحدات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />


<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				@{
					var lang = Request.Cookies["lang"].Value;
					@Html.Hidden("ss", lang, new { @id = "lang" })
				}
				<h4 class="card-title" key="t-basicInfo">Basic Information</h4>

				@using (Html.BeginForm("Edit", "Units", new { Id = Model.Units_ID }, FormMethod.Post))
				{
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-name" for="name">Name</label>
								@Html.TextBoxFor(q => q.Units_Name_AR, new { @class = "form-control", @name = "name", @id = "name" })
							</div>

							<div class="form-group">
								<label key="t-location" class="control-label">Loactions</label>
								@Html.DropDownListFor(q => q.Units_Location_ID, ViewBag.Locations as SelectList, new { @class = "form-control select2" })
							</div>

							<div class="form-group">
								<div class="custom-control custom-checkbox mb-3 p-0">
									<label class="control-label" key="t-servicetype" for="servicetype">servicetype</label>
									@Html.ListBoxFor(model => model.Units_ServiceType, ViewBag.ServiceType as SelectList, new { @class = "select2 form-control select2-multiple", @multiple = "multiple", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
								</div>
							</div>
							<div class="form-group">
								<label key="t-level" class="control-label">Types</label>
								@Html.DropDownListFor(q => q.LevelID, ViewBag.Levels as SelectList, new { @class = "form-control select2", @onchange = "LevelChange(event.target.value)", @id = "LEVEL" })
							</div>
							@Html.HiddenFor(q => q.SubID, new { @id = "SubID" })

							@if (Model.IS_Mostafid || (bool)ViewBag.ViewMostafid)
							{
								<div class="form-group">
									<div class="custom-control custom-checkbox mb-3">
										@Html.CheckBoxFor(q => q.IS_Mostafid, new { @class = "custom-control-input", @name = "Ename", @id = "customCheck1", @type = "checkbox" })
										<label class="custom-control-label" key="t-ismostafid" for="customCheck1">ISMostafid</label>
									</div>
								</div>
							}
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label key="t-enname" for="Ename">ENNAME</label>
								@Html.TextBoxFor(q => q.Units_Name_EN, new { @class = "form-control", @name = "Ename", @id = "Ename" })
							</div>

							<div class="form-group">
								<label key="t-unittypes" class="control-label">Types</label>
								@Html.DropDownListFor(q => q.Units_Type_ID, ViewBag.Types as SelectList, new { @class = "form-control select2", })
							</div>

							<div class="form-group">
								<div class="custom-control custom-checkbox mb-3 p-0">
									<label class="control-label" key="t-requesttype" for="customCheck1">ReqTypes</label>
									@Html.ListBoxFor(model => model.Units_ReqType, ViewBag.ReqTypes as SelectList, new { @class = "select2 form-control select2-multiple", @multiple = "multiple", @dir = @Request.Cookies["lang"].Value == "ar" ? "rtl" : "ltr" })
								</div>
							</div>
							<div class="form-group">
								<label key="t-subunits" class="control-label">Types</label>
								<select id="SubUnits" class="form-control select2" onchange="SubUnitChange(event.target.value)">
								</select>
							</div>
						</div>
					</div>
					<button type="submit" key="t-save" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
					@Html.ActionLink("Cancel", "Home", "Units", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
				}
			</div>
		</div>
	</div>
</div>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
	$(document).ready(function () {
		LevelChange(document.getElementById('LEVEL').value)
	})
	function LevelChange(eve) {
		//console.log(eve.target.value)
		$.ajax({
			url: "/Units/getUnits?id=" + eve, success: function (e) {
				var select = document.getElementById('SubUnits');
				select.innerHTML = ``;
				if (e.length == 0)
					$('#SubID').val(null)
				else {
					var lang = document.getElementById("lang").value
					e.forEach(d => {
						select.innerHTML += `<option value="${d["Units_ID"]}">${lang == "ar" ? d["Units_Name_AR"] : d["Units_Name_EN"]}</option>`
					})
					if ($('#SubID').val() == "")
						$('#SubID').val(e[0]["Units_ID"]);
					else
						select.value = $('#SubID').val();
				}
			}, error: function (ee) {
				console.log("error", ee)
			}
		})
	}
	function SubUnitChange(val) {
		$('#SubID').val(val);
	}
</script>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
