@using TasahelAdmin.Models.Enum
@model TasahelAdmin.Models.VM.DomainCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    legend{
        color:purple;
        font-weight:bolder;
        padding: 30px 0
    }
</style>
<h1>Create</h1>

<h4>New Domain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <fieldset>
                <legend>Main Info</legend>
                <div class="container">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Domain1" class="control-label">Domain</label>
                        <input asp-for="Domain1" class="form-control" />
                        <span asp-validation-for="Domain1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConnectionString" class="control-label"></label>
                        <input asp-for="ConnectionString" class="form-control" />
                        <span asp-validation-for="ConnectionString" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Home Page Setting</legend>
                <div class="container">
                    <div class="form-group">
                        <label asp-for="HomeSettings._NewReqICo" class="control-label"></label>
                        <input asp-for="HomeSettings._NewReqICo" class="form-control" />
                        <span asp-validation-for="HomeSettings._NewReqICo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HomeSettings._FollowIco" class="control-label"></label>
                        <input asp-for="HomeSettings._FollowIco" class="form-control" />
                        <span asp-validation-for="HomeSettings._FollowIco" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HomeSettings.EnableAcadamic" /> @Html.DisplayNameFor(model => model.HomeSettings.EnableAcadamic)
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>About Data</legend>
                <div class="container">
                    <div class="form-group">
                        <label asp-for="DomainInfo.Phone" class="control-label"></label>
                        <input asp-for="DomainInfo.Phone" class="form-control" />
                        <span asp-validation-for="DomainInfo.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainInfo.Mail" class="control-label"></label>
                        <input asp-for="DomainInfo.Mail" class="form-control" />
                        <span asp-validation-for="DomainInfo.Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainInfo.Address" class="control-label"></label>
                        <input asp-for="DomainInfo.Address" class="form-control" />
                        <span asp-validation-for="DomainInfo.Address" class="text-danger"></span>
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Main Style Info</legend>
                <div class="container">
                    <div class="form-group">
                        <label asp-for="DomainStyle._FavIcon" class="control-label"></label>
                        <input asp-for="DomainStyle._FavIcon" class="form-control" />
                        <span asp-validation-for="DomainStyle._FavIcon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainStyle._Icon" class="control-label"></label>
                        <input asp-for="DomainStyle._Icon" class="form-control" />
                        <span asp-validation-for="DomainStyle._Icon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainStyle.Title" class="control-label"></label>
                        <input asp-for="DomainStyle.Title" class="form-control" />
                        <span asp-validation-for="DomainStyle.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainStyle.MetaDesc" class="control-label"></label>
                        <input asp-for="DomainStyle.MetaDesc" class="form-control" />
                        <span asp-validation-for="DomainStyle.MetaDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainStyle.MetaKeyword" class="control-label"></label>
                        <input asp-for="DomainStyle.MetaKeyword" class="form-control" />
                        <span asp-validation-for="DomainStyle.MetaKeyword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainStyle.Maincolor" class="control-label"></label>
                        <input asp-for="DomainStyle.Maincolor" class="form-control" />
                        <span asp-validation-for="DomainStyle.Maincolor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainStyle.Secondcolor" class="control-label"></label>
                        <input asp-for="DomainStyle.Secondcolor" class="form-control" />
                        <span asp-validation-for="DomainStyle.Secondcolor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainStyle.Thirdcolor" class="control-label"></label>
                        <input asp-for="DomainStyle.Thirdcolor" class="form-control" />
                        <span asp-validation-for="DomainStyle.Thirdcolor" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Email And SMS</legend>

               <div class="container">
                    <div class="form-group">
                        <label asp-for="DomainEmail.Name" class="control-label"></label>
                        <input asp-for="DomainEmail.Name" class="form-control" />
                        <span asp-validation-for="DomainEmail.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainEmail.Smtp" class="control-label"></label>
                        <input asp-for="DomainEmail.Smtp" class="form-control" />
                        <span asp-validation-for="DomainEmail.Smtp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainEmail.Port" class="control-label"></label>
                        <input asp-for="DomainEmail.Port" class="form-control" />
                        <span asp-validation-for="DomainEmail.Port" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainEmail.Email" class="control-label"></label>
                        <input asp-for="DomainEmail.Email" class="form-control" />
                        <span asp-validation-for="DomainEmail.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainEmail.UserName" class="control-label"></label>
                        <input asp-for="DomainEmail.UserName" class="form-control" />
                        <span asp-validation-for="DomainEmail.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainEmail.Password" class="control-label"></label>
                        <input asp-for="DomainEmail.Password" class="form-control" />
                        <span asp-validation-for="DomainEmail.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainEmail.MessageAppSid" class="control-label"></label>
                        <input asp-for="DomainEmail.MessageAppSid" class="form-control" />
                        <span asp-validation-for="DomainEmail.MessageAppSid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DomainEmail.Sender" class="control-label"></label>
                        <input asp-for="DomainEmail.Sender" class="form-control" />
                        <span asp-validation-for="DomainEmail.Sender" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DomainEmail.UseMessages" /> @Html.DisplayNameFor(model => model.DomainEmail.UseMessages)
                        </label>
                    </div>
               </div>
            </fieldset>
            @*            <fieldset>
            <legend>Main Page</legend>
            <div class="Repeater">
            <input data-repeater-create type="button" value="Add New Object" class="btn btn-primary" />
            <div data-repeater-list="About">
            <div data-repeater-item>
            <div class="form-group">
            <label class="control-label">Title Ar</label>
            <input name="TitleAr" class="form-control" />
            </div>
            <div class="form-group">
            <label class="control-label">Title En</label>
            <input name="TitleEn" class="form-control" />
            </div>



            <input data-repeater-delete type="button" class="btn btn-danger" value="Delete" />
            </div>
            </div>

            </div>
            </fieldset>*@
            <fieldset>
                <legend>Sub Domains</legend>
                <div class="container">
                    @{
                        var count = 0;
                    }
                    @foreach (var i in ListOFSubDomains.SubDomainsEnum)
                    {
                        <div class="row w-100">
                            <input name="SubDomains[@count].Key" hidden value="@i.Value" />
                            <div class="form-group">
                                <label class="control-label">@i.Name</label>
                                <input name="SubDomains[@count].Domain" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label"></label>
                                <label class="form-check-label">
                                    Https?
                                    <input class="form-check-input form-control" type="checkbox" name="SubDomains[@count].UseHttps" /> 
                                </label>
                            </div>
                        </div>
                        count++;
                    }
                </div>
            </fieldset>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/wwwroot/lib/ckeditor5/ckeditor.js"></script>
    <script src="~/wwwroot/lib/jquery.repeater/jquery.repeater.js"></script>
    <script>

    </script>


    }
