@model List<Domain>

@{

}
<link href="~/lib/datatables/css/jquery.datatables.css" rel="stylesheet" />
<link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
<div style="padding:20px">
    <a class="btn-link" asp-action="Create">
        Create New
    </a>
</div>

<div class="container">
    <table class="table w-100">
        <thead>
            <tr>
                <th>Domain Name</th>
                <th>Domain Url</th>
                <th>Enabled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Domain1</td>
                    <td>
                        @if (i.Enabled)
                        {
                            <button class="btn btn-success">Enabled</button>
                        }
                        else
                        {
                            <button class="btn btn-danger">Disabled</button>
                        }
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="Delete(@i.Id)">Delete</button>
                        <a class="btn btn-primary" asp-action="Index" asp-controller="About" asp-route-domainid="@i.Id" asp-route-domainname="@i.Name">Manage About Contant</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.all.min.js"></script>
    <script>
        $('table').DataTable()
    </script>
    <script>
        function Delete(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "@(Url.Action("Delete"))?id=" + id;
                }
            })
        }
    </script>
}