@model IAUAdmin.DTO.Entity.E_FormsDTO
@{
    ViewBag.Title = "E-From Type";
    ViewBag.pTitle = "E-From Type";
    ViewBag.pageTitle = "E-Froms" + (Request.QueryString["SharedVal"] != null ? "," + Request.QueryString["SharedVal"] : "");
    ViewBag.arTitle = "اضافة نموذج";
    ViewBag.arpTitle = "اضافة نموذج";
    ViewBag.arpageTitle = "النماذج الالكترونية" + (Request.QueryString["SharedVal"] != null ? "," + Request.QueryString["SharedVal"] : "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<style>
    span.select2 {
        width: 100% !important
    }

    label.control-label::after {
        content: ":";
    }

    label.control-label {
        font-weight: bold;
    }

    FIELDSET {
        margin: 8px;
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
    }

    LEGEND {
        padding: 0px 16px !important;
        width: unset;
        display: inline-flex;
    }

    .btn-create-component {
        display: none !important;
    }

    .select2-results__group {
        color: #000 !important;
    }

    li[role="group"] ul {
        padding: 0 17px 0 0;
    }
</style>
@{
    var isar = Request.Cookies["lang"].Value == "ar";
    var count = 1;
}
<div class="row">
    @using (Html.BeginForm("Create", "EForms", new { SubService = Request.QueryString["SubService"] }, FormMethod.Post, new { encType = "multipart/form-data", @class = "w-100" }))
    {
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 key="t-basicInfo" class="card-title">Basic Information</h4>
                    <p key="t-fillrequired" class="card-title-desc">Fill all information below</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="name">@(isar?"اسم النموذج بالعربي":"Eform Name")</label>
                                @Html.TextBoxFor(q => q.Name, new { @class = "form-control ar-font", @name = "name", @id = "name" })
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="name">@(isar?"كود النموذج":"Eform Code")</label>
                                @Html.TextBoxFor(q => q.Code, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="enname">@(isar?"اسم النموذج بالانجليزي":"Eform Name English")</label>
                                @Html.TextBoxFor(q => q.Name_EN, new { @class = "form-control en-font", @name = "enname", @id = "enname" })
                            </div>
                            @if (Request.QueryString["SubService"] == null)
                            {
                                <div class="form-group">
                                    <label key="t-subservice" class="control-label">units</label>
                                    @Html.DropDownListFor(q => q.SubServiceID, ViewBag.SubSrevice as SelectList, new { @class = "form-control select2" })
                                </div>
                            }

                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <p class="card-title">@(isar?"عناصر النموذج":"Eform Elements")</p>
                        <div id="ListQuestion">
                        </div>
                        <div class="row" style="display:flex;justify-content:center;align-items:center">
                            <div class="control col-6" style="display:inline-flex;justify-content:center;align-items:center">
                                <select class="form-control select2" id="ComponetType">
                                    <option value="null" disabled selected>@(isar?"-----اختر":"Choose-----")</option>
                                    <option value="6">@(isar? "حقل موجود" : "Exist Field")</option>
                                    <optgroup label="@(isar?"حقل جديد":"New Field")">
                                        <option value="0">@(isar?"حقول الادخال":"Input")</option>
                                        <option value="1">@(isar? "اختيار من متعدد":"Select from Multi")</option>
                                        <option value="2">@(isar?"اختيار متعدد":"Select Multi")</option>
                                        <option value="3">@(isar?"تاريخ ووقت":"Date Time")</option>
                                        <option value="4">@(isar?"فاصل":"Separator")</option>
                                        <option value="5">@(isar?"عنوان":"Title")</option>
                                        <option value="7">@(isar?"نص":"Text")</option>
                                    </optgroup>
                                </select>
                                <button class="btn btn-circle mx-1" style="top:0!important;color:green" id="addComponent" type="button"><i class="fas fa-plus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(q => q.QTY, new { @id = "QQTR", @requird = "true" })
                    <button key="t-save" class="btn btn-primary mr-1 waves-effect waves-light">Save Changes</button>
                    <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" style="display:none"></button>
                    @Html.ActionLink("Cancel", "Home", "EForms", new { SubService = Request.QueryString["SubService"] }, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })

                </div>
            </div>
        </div>
    }
</div>
<script>
    let _id = 0;
    let QTY = [];
    $("button[key='t-save']").click(() => {
        QTY = []
        let data = $('div[data-id]');
        ([...data]).sort(function (a, b) {
            var contentA = parseInt($("#order", $(a)).val());
            var contentB = parseInt($("#order", $(b)).val());
            return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
        }).forEach(i => {
            let type = $(i).attr('data-type')
            switch (type) {
                case "I":
                    var PlaceHolder = $('input.form-control[name="PlaceHolder"]', $(i)).val()
                    var PlaceHolderEN = $('input.form-control[name="PlaceHolderEN"]', $(i)).val()
                    var Ar = $('input.form-control[name="ARName"]', $(i)).val()
                    var En = $('input.form-control[name="ENName"]', $(i)).val()
                    var ISNum = ($('[name="InputType"]', $(i)).val() === 'true')
                    var Requird = $('#Required', $(i)).is(":checked")
                    var index = $("#order", $(i)).val();
                    QTY.push({ Name: Ar, Name_EN: En, Requird, T: type, Input: { ISNum, PlaceHolder, PlaceHolderEN }, Index_Order: index })
                    break;
                case "R":
                    var Ar = $('input.form-control[name="ARName"]', $(i)).val();
                    var En = $('input.form-control[name="ENName"]', $(i)).val();
                    var Requird = $('#Required', $(i)).is(":checked")
                    var index = $("#order", $(i)).val();
                    var Radio = [];
                    var rows = $('[data-repeater-item]', $(i));
                    ([...rows]).forEach(e => {
                        let Name = $('.ar-item', $(e)).val();
                        let Name_EN = $('.en-item', $(e)).val();
                        if (Name != "" && Name_EN != "")
                            Radio.push({ Name, Name_EN })
                    })
                    if (Radio.length != 0)
                        QTY.push({ Name: Ar, Name_EN: En, Requird, T: type, Radio, Index_Order: index })
                    break;
                case "C":
                    var Ar = $('input.form-control[name="ARName"]', $(i)).val();
                    var En = $('input.form-control[name="ENName"]', $(i)).val();
                    var index = $("#order", $(i)).val();
                    var Requird = $('#Required', $(i)).is(":checked")
                    var Check = [];
                    rows = $('[data-repeater-item]', $(i));
                    ([...rows]).forEach(e => {
                        let Name = $('.ar-item', $(e)).val();
                        let Name_EN = $('.en-item', $(e)).val();
                        if (Name != "" && Name_EN != "")
                            Check.push({ Name, Name_EN })
                    })
                    if (Check.length != 0)
                        QTY.push({ Name: Ar, Name_EN: En, Requird, T: type, Check, Index_Order: index })
                    break;
                case "D":
                    var Ar = $('input.form-control[name="ARName"]', $(i)).val();
                    var En = $('input.form-control[name="ENName"]', $(i)).val();
                    var index = $("#order", $(i)).val();
                    var Requird = $('#Required', $(i)).is(":checked")
                    QTY.push({ Name: Ar, Name_EN: En, Requird, T: type, Index_Order: index })
                    break;
                case "S":
                    var index = $("#order", $(i)).val();
                    QTY.push({ T: type, Sepa: { Empty: $('#Seprator', $(i)).is(":checked") }, Index_Order: index })
                    break;
                case "T":
                    var Ar = $('input.form-control[name="ARName"]', $(i)).val();
                    var En = $('input.form-control[name="ENName"]', $(i)).val();
                    var index = $("#order", $(i)).val();
                    QTY.push({ Name: Ar, Name_EN: En, T: type, Index_Order: index })
                    break;
                case "P":
                    var Ar = $('textarea.form-control[name="ARName"]', $(i)).val();
                    var En = $('textarea.form-control[name="ENName"]', $(i)).val();
                    var index = $("#order", $(i)).val();
                    QTY.push({ T: type, Para: { Name: Ar, Name_EN: En }, Index_Order: index })
                    break;
                case "E":
                    var Ar = $('input.form-control[name="ARName"]', $(i)).val()
                    var En = $('input.form-control[name="ENName"]', $(i)).val()
                    var Ref = $('[name="ReferenceToField"]', $(i)).val()
                    var index = $("#order", $(i)).val();
                    QTY.push({ Name: Ar, Name_EN: En, T: type, Ref, Index_Order: index })
                    break;
            }
        })
        $('#QQTR').val(JSON.stringify(QTY))
        console.log(QTY)
        $("button[type='submit']").click()
    })

</script>
@Html.Partial("~/Views/Eforms/script.cshtml", false)
