@model ICollection<IAUAdmin.DTO.Entity.E_FormsDTO>
@using System.Configuration;
@{
    ViewBag.Title = "Home Page";
    ViewBag.pageTitle = "Home Page" + (Request.QueryString["SharedVal"] != null ? "," + Request.QueryString["SharedVal"] : "");
    ViewBag.pTitle = "E-Froms";
    ViewBag.arTitle = "الرئيسية";
    ViewBag.arpageTitle = "الرئيسية" + (Request.QueryString["SharedVal"] != null ? "," + Request.QueryString["SharedVal"] : "");
    ViewBag.arpTitle = "النماذج الالكترونية";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ShowDelete = (TempData["Permissions"] as string[]).Contains("Delete Item");
    var isar = Request.Cookies["lang"].Value.ToString() == "ar";
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-12">
        <div style="text-align:end">
            <button class="btn btn-outline-danger m-2" onclick="LoadRemoved()">@(Request.Cookies["lang"]?.Value=="ar"?"":"") <i style="color:red" class="fa fa-trash"></i></button>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="HeaderOfPage">
                    <p class="card-title-desc" key="t-eforms">
                        Manage Users
                    </p>
                    @Html.AntiForgeryToken()
                    <a class="btn btn-circle" href=@Url.Action("Create", new { SubService=Request.QueryString["SubService"]})><i class="fas fa-plus-circle"></i></a>
                </div>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th key="t-name">Type Name</th>
                            <th key="t-enname">Type En Name</th>
                            @*<th key="t-path">Image</th>*@
                            <th key="t-activeTitle">Status</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ var url = ConfigurationManager.AppSettings["DomainName"].ToString();}
                        @foreach (var i in Model)
                        {
                            <tr @*onclick="Go(this,'@Url.Action("Detials", "EForms", new { Id = i.ID })')"*@>
                                <td class="TH-ar ar-font">@i.Name</td>
                                <td class="TH-en en-font">@i.Name_EN</td>
                                @*  <!--<td class="en-font">--><a href="@(url+"/"+i.Path)">@(url + "/" + i.Path) </a><!--</td>-->*@
                                <td>
                                    @Html.ActionLink("Active", i.IS_Action ? "Deactive" : "Active", "EForms", new { Id = i.ID, SubService = Request.QueryString["SubService"] }, new { @class = i.IS_Action ? "btn btn-primary active" : "btn btn-danger deactive", @key = i.IS_Action ? "t-active-Home" : "t-deactive-Home" })
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { Id = i.ID, SubService = Request.QueryString["SubService"] }, new { @class = "btn btn-primary", @key = "t-edit" })
                                    @{
                                        if (ShowDelete)
                                        {
                                            <button class="btn btn-primary" onclick="Delete('@i.ID')">@(Request.Cookies["lang"].Value == "ar" ? "حذف" : "Delete")</button>
                                        }
                                    }
                                    <a class="btn btn-outline-info" href="/Eforms/Eform?ID=@i.ID" target="_blank">@(isar?"عرض النموذج":"Preview E-form")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- JAVASCRIPT -->
<div class="modal fade p-0" data-backdrop="static" data-keyboard="false" id="Eform" dir="@(isar?"rtl":"ltr")" tabindex="-1" role="dialog" aria-labelledby="Eform" aria-hidden="true">
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>
<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="~/assets/js/app.js"></script>
@*<script>
        function PreviewEform(ID) {
            $.ajax({
                url: `/Eforms/GetEformPreview?ID=${ID}`, method: "Post", data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                }, success: function (dd) {
                    $('#Eform').html(dd)
                    $('#Eform').modal('toggle');
                }
            })
        }
    </script>*@





@if (ShowDelete)
{

    <script>
		function Delete(id) {
			event.stopPropagation()
		event.stopImmediatePropagation()
		Swal.fire({
			title:"@( Request.Cookies["lang"].Value == "ar" ? "هل انت متاكد من حذف هذا النموذج؟" : "Are you sure To Delete this Eform?")",
			text: "@(Request.Cookies["lang"].Value == "ar" ? "لن تستطيع ارجاع ذلك بعد اتمام العملية!" : "You won't be able to revert this!")",
			icon: "warning",
			showCancelButton: true,
			focusConfirm: false,
			confirmButtonColor: "#34c38f",
			cancelButtonColor: "#f46a6a",
			confirmButtonText: "@(Request.Cookies["lang"].Value == "ar" ? "موافق , احذف النموذج" : "Yes, Delete it!")",
			cancelButtonText: "@(Request.Cookies["lang"].Value == "ar" ? "الغاء العملية" : "Cancel Process")",
		}).then(function (result) {
			if (result.value) {
				$.ajax({
					url: '/EForms/Delete?id=' + id,method: "POST",  success: function (res) {
						if (res["success"] == true)
							location.href = location.href;
						else {
							Swal.fire({
								  icon: 'error',
								  title: "@(Request.Cookies["lang"].Value == "ar" ? "فشل الحذف" : "Delete failed")",
								  text: "@(Request.Cookies["lang"].Value == "ar" ? "فشل الحذف . بسبب ان هناك بيانات معتمده علي هذا النموذج" : "Delete failed.Because there are data depended on this Eform")",
								  confirmButtonText:'@(Request.Cookies["lang"].Value == "ar" ? "حسنا" : "Okay")',
								})
						}
				}
			})
			}
		});
	}
    </script>
}

<div id="ModalViewDiv-removed">

</div>
<script>
    function LoadRemoved() {
        $.ajax({
            url: '/EForms/AllDel', method: "GET", success: function (res) {
                setTimeout(function () {
                    document.getElementById('LoadingDiv').style.display = 'none';
                }, 1000)
                $('#ModalViewDiv-removed').html(res)
                $('#DeletedItemsModal').modal('show')
            }
        })
    }
</script>