@model IAUAdmin.DTO.Entity.ApplicantTypeDTO
@{
    ViewBag.Title = "Edit Mustafid";
    ViewBag.pTitle = "Edit Mustafid";
    ViewBag.pageTitle = "Mustafid List";
    ViewBag.arTitle = "تعديل مستفيد";
    ViewBag.arpageTitle = "تعديل مستفيد";
    ViewBag.arpTitle = "قائمة المستفيدين";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<style>


    label.control-label::after {
        content: ":";
    }

    label.control-label {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title" key="t-basicInfo">Basic Information</h4>

                @using (Html.BeginForm("Edit", "Applicanttype", new { Id = Model.Applicant_Type_ID }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" key="t-name" for="name">User Name</label>
                                @Html.TextBoxFor(q => q.Applicant_Type_Name_AR, new { @id = "name", @class = "form-control ar-font", @required = "true" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" key="t-enname" for="enname">EnName</label>
                                @Html.TextBoxFor(q => q.Applicant_Type_Name_EN, new { @id = "enna,e", @class = "form-control en-font", @required = "true" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group d-inline-flex flex-row-reverse w-100 align-items-center ">
                                <label class="control-label w-100 m-0" for="Affliated">@(Request.Cookies["lang"].Value=="ar"? "منسوبي الجامعة" : "IAU Affliated")</label>
                                @Html.CheckBoxFor(q => q.Affliated, new { @id = "Affliated", @class = "form-control en-font", @style = "width:auto !important;margin:0 15px" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light" key="t-save">Save Changes</button>
                    @Html.ActionLink("Cancel", "Home", "Applicanttype", null, new { @class = "btn btn-secondary waves-effect", @key = "t-cancel" })
                }
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
