@model ICollection<IAUAdmin.DTO.Entity.UnitsMuchRequestsVM>
@using System.Configuration;
@{

    ViewBag.Title = "Statistics | Report of the most requested categories during a period" + (Request.Form["from"] == null ? "" : $" | From '{Convert.ToDateTime(Request.Form["from"]).ToString("dd-MM-YYYY")}' To '{Convert.ToDateTime(Request.Form["to"]).ToString("dd-MM-YYYY")}'");
    ViewBag.arTitle = "التقارير والاحصائيات | تقرير الفئات الاكثر طلباً خلال فترة" + (Request.Form["from"] == null ? "" : $" | الي '{Convert.ToDateTime(Request.Form["from"]).ToString("dd-MM-YYYY")}' من '{Convert.ToDateTime(Request.Form["to"]).ToString("dd-MM-YYYY")}'");

    ViewBag.pTitle = "Statistics";
    ViewBag.arpageTitle = "التقارير والاحصائيات";

    ViewBag.pTitle = "Report of the most requested categories during a period";
    ViewBag.arpTitle = "تقرير الفئات الاكثر طلباً خلال فترة";

    Layout = "~/Views/Shared/_Layout.cshtml";
    var isar = Request.Cookies["lang"].Value == "ar";
}
<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />


<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<style>
    #MainServiceImages, #hidden {
        display: none;
    }

    #ImagesInModel {
        width: 100%;
        display: flex;
        justify-content: center;
    }

        #ImagesInModel img {
            cursor: pointer;
            padding: 10px 10px;
            height: 43px;
            border-radius: 13px;
            margin: 0 3px
        }

    .modal-header {
        display: inline-flex;
        align-items: center
    }

    #ImagesInModel img:hover {
    }

    #ImagesInModel img.active {
        border: 1px solid green;
    }

    .control-label::after {
        content: ":"
    }
</style>
<span id="mainsservicesTExts" style="display:none" key="t-subservices"></span>
<div class="row">
    <div class="col-12">
        <div class="row d-flex justify-content-center ">
            @using (Html.BeginForm(htmlAttributes: new { @class = "col-4" }, controllerName: "Report", actionName: "_UnitsMostRequested", method: FormMethod.Get))
            {
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="d-inline-flex justify-content-around w-100">
                        <div class="form-group">
                            <label class="control-label font-weight-bold" key="t-date-from">From</label>
                            @Html.TextBox("from", TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("Arabic Standard Time")).AddDays(-5).ToString("yyy-MM-dd"), new { @type = "date" ,@class="form-control en-font" })
                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold" key="t-date-to">To</label>
                            @Html.TextBox("to", TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("Arabic Standard Time")).AddDays(2).ToString("yyy-MM-dd"), new { @type = "date" ,@class="form-control en-font" })
                        </div>
                    </div>
                    <button class="btn btn-primary w-50">@(isar?"فرز":"Filter")</button>
                </div>
            }
        </div>
        <div class="card">
            <div class="card-body">

                <div class="HeaderOfPage">
                    <p class="card-title-desc" key="t-unitsTitle">
                        @*Manage Users*@
                    </p>

                </div>

                <table class="jqtable-btn table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th class="showExport">@(isar?"عدد الطلبات":"Requests Count")</th>
                            <th key="t-name" class="showExport">Unit Name</th>
                            <th key="t-enname" class="showExport">Type En Name</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var i in (Model ?? new List<IAUAdmin.DTO.Entity.UnitsMuchRequestsVM>()))
                        {
                            <tr onclick="Go(this,'@Url.Action("Detials", "Units", new { Id = i.Unit.Units_ID })')">
                                <td>@i.Count</td>
                                <td class="TH-ar ar-font">

                                    <span style="color:blue;padding:0 10px;">@(i.Unit.IS_Mostafid ? "✔" : "")</span>
                                    @(i.Unit.Units_Name_AR)
                                </td>
                                <td class="TH-en en-font">@(i.Unit.Units_Name_EN)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- JAVASCRIPT -->

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>
<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="~/assets/js/app.js"></script>
<script>
    $(document).ready(function () {
        let interval = setInterval(e => {
            if ($('#datatable-buttons_filter label input').length != 0) {
                clearInterval(interval)
                $('#datatable-buttons_filter label input').on('keydown', function () { getLanguage() })
            }
        }, 300)
    });
</script>

<script>
    $(document).ready(i => {
        var table = $('.jqtable-btn').DataTable({
            "dom": 'Bfrtip',
            lengthChange: true,
            "order":[0,'desc'],
            buttons: [{
                "extend": 'excelHtml5',
                "text": '<i class="fa fa-file-excel mx-1" style="color:#69f469"></i> @(isar?"اكسل":"Excel")',
                "autoFilter": true,
                "sheetName": 'Exported data',
                "exportOptions": {
                    columns: '.showExport',
                }
            }],
            language: {
                url: language == "ar" ? '/assets/DataTableTrans/ar.json' : '/assets/DataTableTrans/en.json'
            },
            initComplete: function (settings, json) {
                getLanguage()
            },
        });

    })
</script>