@model ICollection<IAUAdmin.DTO.Entity.UnitsDTO>
@using System.Configuration;
@{
    var selectedlevel = ViewBag.SelectedLevel as IAUAdmin.DTO.Entity.ServiceTypeDTO;

    ViewBag.Title = "Statistics | Units report according to the services provided" + (selectedlevel?.Service_Type_Name_EN == null ? "" : $" | '{selectedlevel?.Service_Type_Name_EN}'");
    ViewBag.arTitle = "التقارير والاحصائيات | تقرير الفئات وفقاً للخدمات المقدمة" + (selectedlevel?.Service_Type_Name_AR == null ? "" : $" | '{selectedlevel?.Service_Type_Name_AR}'");

    ViewBag.pTitle = "Statistics";
    ViewBag.arpageTitle = "التقارير والاحصائيات";

    ViewBag.pTitle = "Units report according to the services provided";
    ViewBag.arpTitle = "تقرير الفئات وفقاً للخدمات المقدمة";

    Layout = "~/Views/Shared/_Layout.cshtml";
    var ShowDelete = (TempData["Permissions"] as string[]).Contains("Delete Item");
    var isar = Request.Cookies["lang"].Value == "ar";
}
<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />


<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<style>
    #MainServiceImages, #hidden {
        display: none;
    }

    #ImagesInModel {
        width: 100%;
        display: flex;
        justify-content: center;
    }

        #ImagesInModel img {
            cursor: pointer;
            padding: 10px 10px;
            height: 43px;
            border-radius: 13px;
            margin: 0 3px
        }

    .modal-header {
        display: inline-flex;
        align-items: center
    }

    #ImagesInModel img:hover {
    }

    #ImagesInModel img.active {
        border: 1px solid green;
    }

    .control-label::after {
        content: ":"
    }
</style>
<span id="mainsservicesTExts" style="display:none" key="t-subservices"></span>
<div class="row">
    <div class="col-12">
        <div class="row d-flex justify-content-center ">
            @using (Html.BeginForm(htmlAttributes: new { @class = "col-6" }, controllerName: "Report", actionName: "_UnitsByServiceType", method: FormMethod.Get))
            {
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-around w-100">
                        <div class="form-group">
                            <label class="control-label report-filter-title" key="t-title-mainservice" for="servicetype">Main servicetype</label>
                            @Html.DropDownList("sid", (IEnumerable<SelectListItem>)ViewBag.ServiceType, new { @class = "form-control select2", @required = "true", @id = "LEVEID" })
                        </div>
                    </div>
                    <button class="btn btn-primary w-50">@(isar?"فرز":"Filter")</button>
                </div>
            }
        </div>
        <div class="card">
            <div class="card-body">

                <div class="HeaderOfPage">
                    <p class="card-title-desc" key="t-unitsTitle">
                        @*Manage Users*@
                    </p>

                </div>
                @{
                    var url = ConfigurationManager.AppSettings["DomainName"].ToString();
                    var lang = Request.Cookies["lang"].Value;
                }
                <span style="display:none" id="lang">@lang</span>
                <table id="table-jq" class="jqtable-btn table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th key="t-name" class="showExport">Unit Name</th>
                            <th key="t-enname" class="showExport">Type En Name</th>
                            <th key="t-activeTitle">Status</th>
                            <th key="t-unit-home-mainservices">MainServices</th>
                            <th key="t-user">MainServices</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var i in (Model ?? new List<IAUAdmin.DTO.Entity.UnitsDTO>()))
                        {
                            <tr onclick="Go(this,'@Url.Action("Detials", "Units", new { Id = i.Units_ID })')">

                                <td class="TH-ar ar-font showExport">
                                    <span id="MainServiceImages" style="display:none">
                                        @foreach (var s in i.UnitServiceTypes)
                                        {
                                            <img src="@(url + "/" + s.Service_Type.Image_Path)" id="img-@(s.ServiceTypeID)" onclick="FilterMain(this,@(s.ServiceTypeID))" />
                                        }
                                        <img src="@(url + "/" + i.Service_Type.Image_Path)" id="img-@(i.Service_Type.Service_Type_ID)" onclick="FilterMain(this,@(i.Service_Type.Service_Type_ID))" />
                                    </span>
                                    <span style="color:blue;padding:0 10px;">@(i.IS_Mostafid ? "✔" : "")</span>
                                    @(i.Units_Name_AR)
                                </td>
                                <td class="TH-en en-font showExport">@(i.Units_Name_EN)</td>
                                <td>
                                    @Html.ActionLink("Active", i.IS_Action.Value ? "Deactive" : "Active", "Units", new { Id = i.Units_ID }, new { @class = i.IS_Action.Value ? "btn btn-primary active" : "btn btn-danger deactive", @key = i.IS_Action.Value ? "t-active-Home" : "t-deactive-Home" })
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="button" onclick="getMainService(event,this, '@(i.Units_ID)', '[@(string.Join(",", i.UnitServiceTypes.Select(q => q.ServiceTypeID).ToArray()))]')" key="t-unit-home-mainservices">MainService</button>
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="button" onclick="getUsers(event,this, '@(i.Units_ID)')" key="t-user">Users</button>
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { Id = i.Units_ID }, new { @class = "btn btn-primary", @key = "t-edit" })
                                    @{
                                        if (ShowDelete)
                                        {
                                            <button class="btn btn-primary" onclick="Delete('@i.Units_ID')">@(Request.Cookies["lang"].Value == "ar" ? "حذف" : "Delete")</button>
                                        }
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- JAVASCRIPT -->
<div class="modal fade" id="Model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 70vw;">
        <div class="modal-content" style="height: 83vh; width: 70vw;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" key="t-mainservices" style="white-space: nowrap;">Modal title</h5>
                <div id="ImagesInModel"></div>
            </div>
            <div class="modal-body">
                <div style="display:flex;justify-content:flex-end">
                    <input id="searchTXT" style="width:220px;margin-bottom:15px" onkeyup="Search(event.target.value)" />
                </div>
                <div id="ErrorWhenSaving" style="text-align:center;display:none" class="alert alert-danger">
                    <span key="t-ErrorSaving">ErrorSaving</span>
                </div>
                <table class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th key="t-name"> </th>
                            <th key="t-enname"></th>
                            <th key="t-servicetype"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="MainBodyServices">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" key="t-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" key="t-save" onclick="SaveMain()" id="SaveBTN" class="btn btn-primary">Save changes</button>
                <button class="btn btn-primary" style="display:none" id="loadinBTN"><img src="~/assets/images/loading.gif" height="20px" /></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SubServices" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 70vw;">
        <div class="modal-content" style="height: 83vh; width: 70vw;">
            <div class="modal-header">
                <span id="SubServiceTXT" key="t-subservices" style="white-space: nowrap;display:none">Modal title</span>
                <h5 class="modal-title" id="TitleSubService" key="t-mainservices" style="white-space: nowrap;">Modal title</h5>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th key="t-name"> </th>
                            <th key="t-enname"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="MainBodySubServices">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" key="t-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EForms" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 70vw;">
        <div class="modal-content" style="height: 83vh; width: 70vw;">
            <div class="modal-header">
                <span id="t-eforms" key="t-eforms" style="display:none;white-space: nowrap;">Modal title</span>
                <h5 class="modal-title" id="TitleEforms" style="white-space: nowrap;">Modal title</h5>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th key="t-name"> </th>
                            <th key="t-enname"></th>
                        </tr>
                    </thead>
                    <tbody id="EFormsBody">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" key="t-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Users" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 70vw;">
        <div class="modal-content" style="height: 83vh; width: 70vw;">
            <div class="modal-header">
                <h5 class="modal-title" key="t-user" style="white-space: nowrap;">Modal title</h5>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th key="t-name">User Name</th>
                            <th key="t-email">Email</th>
                            <th key="t-job">Department</th>
                        </tr>
                    </thead>
                    <tbody id="UserBody">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" key="t-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>
<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="~/assets/js/app.js"></script>
@if (ShowDelete)
{

    <script>
	function Delete(id) {
		event.stopPropagation()
		event.stopImmediatePropagation()
		Swal.fire({
			title:"@( Request.Cookies["lang"].Value == "ar" ? "هل انت متاكد من حذف هذه الفئة؟" : "Are you sure To Delete this unit?")",
			text: "@(Request.Cookies["lang"].Value == "ar" ? "لن تستطيع ارجاع ذلك بعد اتمام العملية!" : "You won't be able to revert this!")",
			icon: "warning",
			showCancelButton: true,
			focusConfirm: false,
			confirmButtonColor: "#34c38f",
			cancelButtonColor: "#f46a6a",
			confirmButtonText: "@(Request.Cookies["lang"].Value == "ar" ? "موافق , احذف الفئة" : "Yes, Delete it!")",
			cancelButtonText: "@(Request.Cookies["lang"].Value == "ar" ? "الغاء العملية" : "Cancel Process")",
		}).then(function (result) {
			if (result.value) {
				$.ajax({
                    url: '/Units/Delete?id=' + id, method: "POST", success: function (res) {
						if (res["success"] == true)
							location.href = location.href;
                        else {
							Swal.fire({
								  icon: 'error',
								  title: "@(Request.Cookies["lang"].Value == "ar" ? "فشل الحذف" : "Delete failed")",
                                text:
                                    "@(Request.Cookies["lang"].Value == "ar" ? "فشل الحذف . بسبب ان هناك بيانات معتمده علي هذه الفئة" : "Delete failed.Because there are data depended on this unit")",
								  confirmButtonText:'@(Request.Cookies["lang"].Value == "ar" ? "حسنا" : "Okay")',
								})
						}
				}
			})
			}
		});
	}
    </script>
}
<script>
    let MainServices = []
    let subserviceText = ""
    let EformsText = ""
    let unitID = null
    let ServiceID = 0;
    let Added = []
    let Deleted = []
    function getMainService(event, element, uID, Mainservices) {
        event.stopPropagation();
        unitID = uID
        Added = []
        Deleted = []

        document.getElementById('ImagesInModel').innerHTML = $('#MainServiceImages', $(element).parent().parent()).html()
        document.querySelector('#ImagesInModel img:nth-last-child(1)').className = "active"

        let Form = new FormData();
        Form.append("id", uID)
        Form.append("MainService", Mainservices)
        if (subserviceText == "")
            subserviceText = document.getElementById('mainsservicesTExts').innerText
        $.ajax({
            url: '/Units/GetMainServices', processData: false,
            contentType: false, method: "POST", data: Form, success: function (data) {
                MainServices = data;
                var ItemsRow = ""
                MainServices.forEach(i => {
                    ItemsRow += `
                        <tr class="Main ST-${i["ServiceTypeID"]} M-${i["Main_Services_ID"]}">
                            <td>
                                <input type="checkbox" ${i["Active"] ? "checked" : ""} style="height: 17px;width: 26px;" onchange="MainServiceChange('${i["Main_Services_ID"]}', this,'${i["Active"]}')"/>
                            </td>
                            <td class=" ar-font">${i["Main_Services_Name_AR"]}</td>
                            <td class=" en-font">${i["Main_Services_Name_EN"]}</td>
                            <td><img src="${document.getElementById('img-' + i["ServiceTypeID"]).src}" style="height: 24px; "/></td>
                            <td><button class="btn btn-primary" onclick="Sub('${i["Main_Services_ID"]}','${i["Main_Services_Name_AR"]}','${i["Main_Services_Name_EN"]}')">${subserviceText}</button></td>
                        </tr>
                    `
                })
                document.getElementById('MainBodyServices').innerHTML = ItemsRow
                $('#Model').modal({
                    backdrop: 'static',
                    keyboard: false
                })
                $('#ImagesInModel img:nth-last-child(1)').click();
            }
        })
    }
    function FilterMain(element, ID) {
        ServiceID = ID;
        $('img.active').toggleClass('active');
        $(element).toggleClass('active');
        $('.Main').css({ 'display': 'none' });
        $('.ST-' + ID).css({ 'display': 'table-row' });
        $('#searchTXT').val("");
    }

    function Search(eve) {
        $('.Main').css({ 'display': 'none' });
        if (eve != "") {
            var data = MainServices.filter(q => q.Main_Services_Name_AR.startsWith(eve) || q.Main_Services_Name_EN.startsWith(eve))
            data.forEach(i => {
                $('.M-' + i.Main_Services_ID).css({ 'display': 'table-row' });
            })
        }
        else
            $('.ST-' + ServiceID).css({ 'display': 'table-row' });
    }
    function MainServiceChange(MainID, element, defaultVal) {
        if (defaultVal == "false") {
            if (element.checked)
                Added.push({ UnitID: unitID, MainServiceID: MainID });
            else
                Added.splice(Added.findIndex(q => q.MainServiceID == MainID), 1)
        }
        else {
            if (element.checked)
                Deleted.splice(Deleted.findIndex(q => q.MainServiceID == MainID), 1)
            else
                Deleted.push({ UnitID: unitID, MainServiceID: MainID });
        }
    }
    function SaveMain() {
        if (Added.length != 0 || Deleted.length != 0) {
            let Form = new FormData();
            Form.append("id", unitID);
            console.log({ Added, Deleted })
            Form.append("mainServicesDTO", JSON.stringify({ Added, Deleted }));
            $('#loadinBTN').css({ 'display': 'block' })
            $('#SaveBTN').css({ 'display': 'none' })
            $.ajax({
                url: '/Units/AddMainService', processData: false,
                contentType: false, method: "POST", data: Form, success: function (res) {
                    $('#loadinBTN').css({ 'display': 'none' })
                    $('#SaveBTN').css({ 'display': 'block' })
                    if (res.success) {
                        $('#Model').modal('toggle');
                        $('#ErrorWhenSaving').css({ 'display': 'none' })
                    }
                    else {
                        $('#ErrorWhenSaving').css({ 'display': 'block' })
                        console.log(res)
                    }
                }
            })
        }
    }
    function Sub(ID, ar, en) {
        if (EformsText == "")
            EformsText = document.getElementById('t-eforms').innerText
        $('#TitleSubService').text(($('#lang').text() == "ar" ? ar : en) + " > " + $('#SubServiceTXT').text())
        $.ajax({
            url: '/Units/getSub?id=' + ID, success: function (data) {
                var ItemsRow = ""
                data.forEach(i => {
                    ItemsRow += `
                        <tr>
                            <td class=" ar-font">${i["Sub_Services_Name_AR"]}</td>
                            <td class=" en-font">${i["Sub_Services_Name_EN"]}</td>
                            <td><button class="btn btn-primary" onclick="EForms('${i["Sub_Services_ID"]}','${i["Sub_Services_Name_AR"]}','${i["Sub_Services_Name_EN"]}')">${EformsText}</button></td>
                        </tr>
                    `
                })
                document.getElementById('MainBodySubServices').innerHTML = ItemsRow
                $('#SubServices').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            }
        })
    }
    function EForms(ID, ar, en) {
        $('#TitleEforms').text(($('#lang').text() == "ar" ? ar : en) + " > " + $('#t-eforms').text())
        $.ajax({
            url: '/Units/getEforms?id=' + ID, success: function (data) {
                var ItemsRow = ""
                data.forEach(i => {
                    ItemsRow += `
                        <tr>
                            <td class=" ar-font">${i["Name"]}</td>
                            <td class=" en-font">${i["Name_EN"]}</td>
                        </tr>
                    `
                })
                console.log(data)
                document.getElementById('EFormsBody').innerHTML = ItemsRow
                $('#EForms').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            }
        })
    }

    function getUsers(eve, _this, ID) {
        eve.stopPropagation();
        $.ajax({
            url: '/Units/GetUsers?id=' + ID, success: function (data) {
                var ItemsRow = ""
                data.forEach(i => {
                    ItemsRow += `
                        <tr onclick="Go(this,'/User/Detials/${i["User_ID"]}')">
                            <td>${i["User_Name"]}</td>
                            <td class="TH-en">${i["User_Email"]}</td>
                            <td >${$('#lang').text() == "ar" ? i["Job"]["User_Permissions_Type_Name_AR"] : i["Job"]["User_Permissions_Type_Name_EN"]}</td>
                        </tr>
                    `
                })
                document.getElementById('UserBody').innerHTML = ItemsRow
                $('#Users').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            }
        })
    }

</script>
<script>
    $(document).ready(function () {
        let interval = setInterval(e => {
            if ($('#table-jq_filter label input').length != 0) {
                clearInterval(interval)
                $('#table-jq_filter label input').on('keydown', function () { getLanguage() })
            }
        }, 300)
    });
</script>

<div id="ModalViewDiv-removed">

</div>
<script>
    function LoadRemoved() {
        $.ajax({
            url: '/Units/AllDel', method: "GET", success: function (res) {
                setTimeout(function () {
                    document.getElementById('LoadingDiv').style.display = 'none';
                }, 1000)
                $('#ModalViewDiv-removed').html(res)
                $('#DeletedItemsModal').modal('show')
            }
        })
    }
</script>
<script>
    $(document).ready(i => {
        var table = $('#table-jq').DataTable({
            "dom": 'Bfrtip',
            lengthChange: true,
            buttons: [
                {
                    "extend": 'excelHtml5',
                    "text": '<i class="fa fa-file-excel mx-1" style="color:#69f469"></i> @(isar?"اكسل":"Excel")',
                    "autoFilter": true,
                    "sheetName": 'Exported data',
                    "exportOptions": {
                        columns: '.showExport',
                    }
                },
                {
                    extend: '',
                    text: '<i class="bx bx-printer" style="color:white"></i> PDF',
                    className: 'print-table-intial',
                    title: ''
                }
            ],
            language: {
                url: language == "ar" ? '/assets/DataTableTrans/ar.json' : '/assets/DataTableTrans/en.json'
            },
            initComplete: function (settings, json) {
                getLanguage()
                $('.print-table-intial').click(() => {
                    openWin()
                })
            },
        });

    })

</script>
<script type="text/javascript">
	const max_contentSize = 480;
	function GetNewPage() {
		document.getElementById('VIEwTemP__dsdm').innerHTML = ``;
		var page_div = document.createElement("div")
		page_div.className = "page"
		page_div.innerHTML = `
					<div class="watermark">
						<img src="/assets/images/repo/iaubackgroud.jpeg" height="205px">
					</div>
					<div class="header" style="height: 210px;">
						<img src="/assets/images/repo/iauHeader.jpeg" height="180px">
					</div>
					<div class="content">

					</div>
					 <div class="footer-pdf" style="height: 210px;">
						<img src="/assets/images/repo/iaufooter.jpeg" height="90px">
					</div>`
		return page_div;
	}
	function GetInfoPage() {
		var page_div = document.createElement("div")
		page_div.className = "table-responsive"
		page_div.innerHTML = document.getElementById('InfoData').innerHTML
		return page_div;
	}
    function GetHTML() {
        $('#VIEwTemP__dsdm').html("");

		let thead = document.createElement("thead");
		thead.innerHTML = document.querySelector('.jqtable-btn thead').innerHTML
		var tbody_data = [];
		let length = document.getElementsByClassName("page-link").length;
		for (var i = 0; i < length; i++) {
            ([...document.querySelectorAll('#table-jq tr')]).forEach(s => {
				tbody_data.push(s);
			})
			if ($('#table-jq_next').hasClass("disabled"))
				break;
			else
				$('#table-jq_next').click();
		}
		var html = document.createElement("html");
		var head = document.createElement("head");
		head.innerHTML = `<meta charset="UTF-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Document</title>
				<style>

					body{
						direction: @(isar?"rtl":"ltr");
					}
                    th,td{
                        display:none!important;
                    }
                    .showExport{
                        display:table-cell!important;
                    }

					.page {
						border: 1px solid black;
						width: 794px;
						height: 1123px;
						position: relative;
					}

					table {
						margin: 12px 28px;
						width: auto !important;
					}

					tr {
						border: 1px solid;
					}

					th {
						border: 1px solid;
					}

					td {
						text-align: center;
						border: 1px solid;
					}

					.watermark {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						width: 810px !important;
						display: flex;
						justify-content: center;
						align-items: center;
						z-index: 15;
					}

					.watermark img {
						z-index: 15;

					}

					.header {
						padding: 6px;
					}
					.header img {
						height: 180px !important;
					}

					.content{
                        width:794px !important

                        }
					.content,
					table,
					.header {
						z-index: 25;
						position: relative;
					}

					.footer-pdf {
						position: absolute;
						right: 0px;
						bottom: 1px;
						width: 794px;
						height: 99px !important;
						text-align: center;
					}

					 .footer-pdf img {
						height: 90px !important;
					 }
					.table tbody tr th,
					.table tbody tr td {
						padding: 7px;
					}

					.table tbody tr th {
						width: 200px !important;
					}

					.table tbody tr td {
						width: auto !important;
					}

					.table {
						width: 93% !important;
					}

					div.content.infopage {
						display: flex;
						align-items: center;
						justify-content: center;
						height: 776px;
					}

					div.content.infopage div table {
						width: 734px !important;
					}
				</style>`
		html.appendChild(head);
		var body = document.createElement("body");
		html.appendChild(body);

		var page = GetNewPage();
		//var Info_PG = GetInfoPage();
		//var content = page.getElementsByClassName('content')[0];
		//content.className += " infopage";
		//content.appendChild(Info_PG);
		//body.appendChild(page);

		//page = GetNewPage();
		var table = document.createElement("table");
		table.appendChild(thead)
		var tbody = document.createElement("tbody");
		table.appendChild(tbody)
		var content = page.getElementsByClassName('content')[0];
		content.appendChild(table);
		body.appendChild(page);
		document.getElementById('VIEwTemP__dsdm').appendChild(html);

        tbody_data.forEach(i => {
            console.log(content.clientHeight >= max_contentSize, content.clientHeight)
            if (content.clientHeight >= max_contentSize) {
                console.log(i)
				page = GetNewPage();
				table = document.createElement("table");
				thead = document.createElement("thead");
                thead.innerHTML = document.querySelector('.jqtable-btn thead').innerHTML
				table.appendChild(thead)
				tbody = document.createElement("tbody");
				table.appendChild(tbody)
				content = page.getElementsByClassName('content')[0];
				content.appendChild(table);
				body.appendChild(page);
				document.getElementById('VIEwTemP__dsdm').appendChild(html);
			}
			tbody.appendChild(i);
		});
        var myWindow = window.open('', '', 'width=800,height=700');

		myWindow.document.write(html.innerHTML);
		//myWindow.document.body. = function () { myWindow.print(); }
		myWindow.addEventListener('load', (event) => {

            myWindow.print();
			//setTimeout(() => { myWindow.close();},500)
		});
		myWindow.document.close();
		document.getElementById('VIEwTemP__dsdm').innerHTML = ""
		//tbody_data.forEach(s => {
  //          document.getElementById('table-jq').appendChild(s)
		//})
		$('.page-link[data-dt-idx="1"]').click()
	}
	function openWin() {
		GetHTML()
	}
	$(document).ready(() => {
		$('input[aria-controls="datatable-buttons"]').css({ 'display': 'none' });
		var data = JSON.parse(localStorage.getItem('PP_sdat_rep'))
		var keys = Object.keys(data);
		keys.forEach(i => {
			$("#" + i).text(data[i])
		})
	})
</script>
<div id="VIEwTemP__dsdm" style="opacity:0;height:0 !important;overflow-y: auto;">

</div>