@{
    ViewBag.Title = "Statistics";
    ViewBag.pTitle = "Statistics";
    ViewBag.pageTitle = "Home";
    ViewBag.arTitle = "التقارير والاحصائيات";
    ViewBag.arpageTitle = "التقارير والاحصائيات";
    ViewBag.arpTitle = "الرئيسية";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isar = Request.Cookies["lang"].Value == "ar";

}
<!-- Summernote css -->
<link href="~/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />

<!-- select2 css -->
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<!-- Summernote css -->
<link href="~/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />
<!-- Sweet Alert-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<!-- dropzone css -->
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<style>

    img {
        width: 100px
    }

    .Links_Die {
        color: #2a3042;
        font-size: 20px;
        font-weight: lighter;
    }

    .main {
        margin: 20px auto;
        display: flex;
    }
    /*
    .container {
        text-align: center;
        float: left;
        width: 200px;
        display: inline-block;
        border: 1px solid black;
    }*/

    .container.list-1 ul {
        height: 100%;
    }

    .container-2 {
        text-align: center;
        border: 1px solid black;
        padding: 33% 0;
        cursor: pointer;
    }

        .container-2 p {
            margin: 0 15px;
        }

    .container-3 {
        text-align: center;
        width: 200px;
        float: right;
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        margin: 0 auto;
    }

    .transfer {
        display: grid;
    }

    .selected {
        background-color: #0a1332 !important;
        color: white;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 15px 0 !important;
        overflow: auto;
    }

    li {
        cursor: pointer;
    }

    .select2-selection__rendered {
        font-weight: normal;
    }

    .select2-selection__rendered, .select2-selection__arrow {
        margin-top: 3px;
    }

    span.select2-selection.select2-selection {
        height: 36px !important;
    }

    label.control-label::after {
        content: ":";
    }

    label.control-label {
        font-weight: bold;
    }
</style>
<div class="row justify-content-center h-100 align-items-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>@(isar?"الطلبات":"Requests")</h2>


                <div class="d-flex flex-column justify-content-center align-items-center w-100">
                    <img src="~/assets/images/Report/5860.jpg" />
                    <p class="m-0">الوصف</p>
                </div>


                <div class="container">
                    <a href="/Report/_Request" class="Links_Die">
                        <i class="bx bxs-paper-plane"></i>
                        @(isar?"فلترة الطلبات":"Requests Filter")
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>@(isar?"مستفيد":"Mostafid")</h2>


                <div class="d-flex flex-column justify-content-center align-items-center w-100">
                    <img src="~/assets/images/Report/5876.jpg" />
                    <p class="m-0">الوصف</p>
                </div>


                <div class="container">
                    <h3>@(isar?"الفئات":"Units")</h3>
                    <div class="container d-flex flex-column">
                        <a href="/Report/_UnitsByLevel" class="Links_Die">
                            <i class="bx bxs-paper-plane"></i>
                            @(isar?"تقرير الفئات علي حسب المستوي": "Units report by level")
                        </a>
                        <a href="/Report/_Request" class="Links_Die">
                            <i class="bx bxs-paper-plane"></i>
                            @(isar?"تقرير الفئات الاكثر طلباً خلال فترة":"")
                        </a>
                        <a href="/Report/_UnitsByLocation" class="Links_Die">
                            <i class="bx bxs-paper-plane"></i>
                            @(isar?"تقرير الفئات حسب الموقع": "Units report by Location")
                        </a>
                        <a href="/Report/_Request" class="Links_Die">
                            <i class="bx bxs-paper-plane"></i>
                            @(isar?"تقرير كفائة الفئات فى التعامل مع الطلبات":"")
                        </a>
                        <a href="/Report/_Request" class="Links_Die">
                            <i class="bx bxs-paper-plane"></i>
                            @(isar?"تقرير الفئات حسب الشكاوي":"")
                        </a>
                        <a href="/Report/_UnitsByServiceType" class="Links_Die">
                            <i class="bx bxs-paper-plane"></i>
                            @(isar?"تقرير الفئات وفقاً للخدمات المقدمة": "Units report according to the services provided")
                        </a>
                    </div>
                    <h3>@(isar?"الخدمات":"Services")</h3>
                    <div class="container d-flex flex-column">
                        <a href="/Report/_Request" class="Links_Die">
                            <i class="bx bxs-paper-plane"></i>
                            @(isar?"تقرير عرض الخدمة الرئيسية والفرعية النماذج الالكترونية":"")
                        </a>
                        <a href="/Report/_ServicesByService" class="Links_Die">
                            <i class="bx bxs-paper-plane"></i>
                            @(isar?"تقرير الخدمات وفقا لنوع الخدمة": "Services report according to service type")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>

<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Summernote js -->
<script src="~/assets/libs/summernote/summernote-bs4.min.js"></script>

<!-- email summernote init -->
<script src="~/assets/js/pages/email-summernote.init.js"></script>

<!-- select 2 plugin -->
<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>
<!-- Summernote js -->
<script src="~/assets/libs/summernote/summernote-bs4.min.js"></script>
<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- init js -->
<script src="~/assets/js/pages/ecommerce-select2.init.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>




<script>
    $(document).ready(p => {
        $('.list1 li,.list2 li').addClass('en-font');
    })
    $('body').on('click', 'li', function () {
        $(this).toggleClass('selected');
    });
    $('#move_left').click(function () {
        $('.list1').append($('.list2 .selected').removeClass('selected'));
    })
    $('#move_right').click(function () {
        $('.list2').append($('.list1 .selected').removeClass('selected'));
    });
    $('#btn-filter').click(s => {
        event.stopPropagation()
        event.stopImmediatePropagation()
        let Columns = "";
        let count = 0;
        ([...$('.list2 li')]).forEach(i => { Columns += count == 0 ? $(i).attr('data-key') : "," + $(i).attr('data-key'); count++; });
        $('#cols').val(Columns)
        var data = {
            ST: $('[name="ST"] option:selected').text(),
            MT: $('[name="MT"] option:selected').text(),
            RT: $('[name="RT"] option:selected').text(),
            ReqSource: $('[name="ReqSource"] option:selected').text(),
            ReqStatus: $('[name="ReqStatus"] option:selected').text(),
            Unit: $('[name="Unit"] option:selected').text(),
            location: $('[name="location"] option:selected').text()
        }
        localStorage.setItem("PP_sdat_rep", JSON.stringify(data))
        location.href = "/Report/FilterRequest?" + $('#FilterForm').serialize()
    })
</script>