@model ICollection<IAUAdmin.DTO.Entity.ReqestDTO>
@{
    ViewBag.Title = "Requests";
    ViewBag.pTitle = "Requests";
    ViewBag.pageTitle = "All Requests";
    ViewBag.arTitle = "الطلبات";
    ViewBag.arpageTitle = "الطلبات";
    ViewBag.arpTitle = "كل الطلبات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<style>

    table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after {
        opacity: 1 !important;
        color: red;
    }

    table.dataTable thead th:before, table.dataTable thead th:after {
        opacity: 1 !important;
        color: black;
    }

    #MailList tr.noreaded {
        background-color: #eae0ca;
        color: white;
    }

        #MailList tr.noreaded td {
            border: 0;
            color: black;
        }

    #MailList tr td {
        border-bottom: 1px solid #0000005c !important;
    }
</style>

@{
    var lang = Request.Cookies["lang"].Value;
    var count = 1;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12 justify-content-between mb-3">
                    <button type="button" class="btn btn-primary d-inline-flex justify-content-around align-items-center" style="width: 85px;" data-toggle="modal" data-target="#FilterModal">
                        <span key="t-filters"></span><i class="fas fa-caret-down"></i>
                    </button>
                </div>

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th key="t-mainservice">ServiceType</th>
                            <th key="t-request-type">RequestType</th>
                            <th key="t-IAUAff">IS IAU</th>
                            <th key="t-mostafidname">Name</th>
                            <th key="t-date">Date</th>
                            <th key="t-comment">Comment</th>
                        </tr>
                    </thead>
                    <tbody id="MailList">
                        @foreach (var i in Model)
                        {
                            <tr onclick="Preview('@Url.Action("Preview", new { Id = i.Request_Data_ID })')" class="@(i.Readed.Value?"":"noreaded")">
                                <td>@count</td>
                                <td>@(lang == "ar" ? i.Service_Type.Service_Type_Name_AR : i.Service_Type.Service_Type_Name_EN)</td>
                                <td>@(lang == "ar" ? i.Request_Type.Request_Type_Name_AR : i.Request_Type.Request_Type_Name_EN)</td>
                                <td>
                                    @if (i.Personel_Data.IAU_ID_Number != "")
                                    {
                                        <span key="t-yes"></span>
                                    }
                                    else
                                    {
                                        <span key="t-no"></span>
                                    }

                                </td>
                                <td class="en-font">@(i.Personel_Data.First_Name)</td>
                                <td class="en-font">
                                    @(i.CreatedDate.ToString("MM/dd - HH:mm"))
                                </td>

                                <td>
                                    <div class="dropdown dropbtn">
                                        @(i.Required_Fields_Notes == null ? "" : string.Join("", i.Required_Fields_Notes.Take(15).ToArray()) + " ...")
                                        <div class="dropdown-content">
                                            <div class="p-10">
                                                @(i.Required_Fields_Notes == null ? "" : i.Required_Fields_Notes)
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" @*style="max-width:97vw"*@>
        <div class="modal-content">
            <div class="modal-body m-0">
                <div class="row w-100 h-100 m-0">
                    <div class="col-12 form-group">
                        <label key="t-mainservice" class="control-label"></label>
                        <select id="Filter-ST" class="form-control select2">
                            <option selected value="null" key="t-all">All</option>
                            @foreach (var i in ViewBag.ServiceType)
                            {
                                <option value="@i.Service_Type_ID">@(lang == "ar" ? i.Service_Type_Name_AR : i.Service_Type_Name_EN)</option>
                            }
                        </select>
                    </div>
                    <div class="col-12 form-group">
                        <label key="t-request-type" class="control-label"></label>
                        <select id="Filter-RT" class="form-control select2">
                            <option selected value="null" key="t-all">All</option>
                            @foreach (var i in ViewBag.ReqTypes)
                            {
                                <option value="@i.Request_Type_ID">@(lang == "ar" ? i.Request_Type_Name_AR : i.Request_Type_Name_EN)</option>
                            }
                        </select>
                    </div>
                    <div class="col-12 form-group">
                        <label key="t-IAUAff" class="control-label"></label>
                        <select id="Filter-MT" class="form-control select2">
                            <option selected value="0" key="t-no"></option>
                            <option value="1" key="t-yes"></option>
                        </select>
                    </div>
                    <div class="col-12 d-inline-flex justify-content-around">
                        <div class="form-group">
                            <label class="control-label" key="t-date-from">From</label>
                            <input id="Filter-DF" type="date" class="form-group en-font" value="@(TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("Arabic Standard Time")).AddDays(2).ToString("yyy-MM-dd"))" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" key="t-date-to">To</label>
                            <input id="Filter-DT" type="date" class="form-group en-font" value="@(TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("Arabic Standard Time")).AddDays(2).ToString("yyy-MM-dd"))" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" key="t-cancel">Close</button>
                <button type="button" class="btn btn-primary" key="t-filter" id="btn-filter">Filter</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script>
    $("#btn-filter").click(function () {
        var dateOptions = { month: '2-digit', day: '2-digit' };
        var timeOptions = { hour12: false, hour: '2-digit', minute: '2-digit' };
        $.ajax({
            url: `/SendedRequests/Filter?ST=${$('#Filter-ST').val()}&RT=${$('#Filter-RT').val()}&MT=${$('#Filter-MT').val()}&DF=${$('#Filter-DF').val()}&DT=${$('#Filter-DT').val()}`, processData: false, method: "POST", success: function (d) {
                let Data = JSON.parse(d);
                let html = document.getElementsByTagName("tbody")[0]
                html.innerHTML = "";
                let count = 1;
                Data.forEach(received_msg => {
                    html.innerHTML += `
                        <tr onclick="Preview('/SendedRequests/Preview/${received_msg["Request_Data_ID"]}')" class="${received_msg["Readed"] ? '' : 'noreaded'}">
                                <td>${count}</td>
                                <td>${(language == "ar" ? received_msg["Service_Type"]["Service_Type_Name_AR"] : received_msg["Service_Type"]["Service_Type_Name_EN"])}</td>
                                <td>${(language == "ar" ? received_msg["Request_Type"]["Request_Type_Name_AR"] : received_msg["Request_Type"]["Request_Type_Name_EN"])}</td>
                                <td><span>${document.querySelector(`option[key='${(received_msg["Personel_Data"]["IAU_ID_Number"] == "" ? "t-no" : "t-yes")}']`).innerText}</span></td>
                                <td class="en-font">${received_msg["Personel_Data"]["First_Name"]}</td>
                                <td class="en-font">${(new Date(received_msg["CreatedDate"]).toLocaleDateString([], dateOptions) + " - " + new Date(received_msg["CreatedDate"]).toLocaleTimeString([], timeOptions))}</td>
                                <td>${(received_msg["Required_Fields_Notes"] == null ? "" : received_msg["Required_Fields_Notes"].substr(0, 400))}</td>
                            </tr>
                        `
                    count++;
                })

            }
        })
    })
</script>

<script>
    function Preview(url) {
        window.location.href = url;
    }
    $('#mainCheck').on('click', function () {
        console.log(this.checked)
        this.checked ? $('.selectbox-request').prop('checked', true) : $('.selectbox-request').prop('checked', false);

    })
</script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/assets/libs/jszip/jszip.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>

<script src="~/assets/js/app.js"></script>
