<!DOCTYPE html>
<html lang="en">

<head>

	<style>
		body[data-sidebar=dark].vertical-collpsed {
			min-height: auto !important;
		}

		body {
			font-family: 'DroidArabicKufiRegular' !important;
			font-weight: bolder !important;
		}

		td {
			vertical-align: baseline;
		}

		.page-content {
			/*height: calc(100vh - 130px) !important;*/
			margin-top: 0px !important;
			overflow: hidden auto;
			padding: calc(70px + 24px) calc(24px / 2) 60px calc(24px / 2)
		}

		td, th {
			text-align: center
		}

		tr {
			cursor: pointer
		}

		.loadinger {
			position: fixed;
			width: 100vw;
			height: 100vh;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			background: white;
			z-index: 999999;
		}

			.loadinger img {
				width: 31%;
			}

			.loadinger .col-12 {
				text-align: center;
			}

				.loadinger .col-12 p {
					color: #00ad5f;
					font-weight: bolder;
					font-size: 28px;
				}

		.HeaderOfPage {
			display: inline-flex;
			justify-content: space-between;
			height: fit-content;
			width: 100%;
			align-items: center;
			margin-bottom: 30px;
		}

			.HeaderOfPage p {
				height: 100%;
				margin: 0;
			}

			.HeaderOfPage a {
				border-radius: 70px
			}

				.HeaderOfPage a i {
					color: green;
					font-size: 25px;
				}
	</style>
	@Html.Partial("~/Views/Shared/_title_meta.cshtml")
	@RenderSection("styles", false)
	@Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>

<body data-sidebar="dark">

	<!-- Begin page -->
	<div id="layout-wrapper">
		<div class="loadinger" id="LoadingDiv">
			@*<div style="width:100vw;height:100vh">*@
			<img src='~/assets/images/loading.gif' />
			@*<p>Loading Please Be Patient</p>*@
			@*</div>*@
		</div>
		@Html.Partial("~/Views/Shared/_topbar.cshtml")
		@Html.Partial("~/Views/Shared/_sidebar.cshtml")

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">
			<div class="page-content" style=" height: 99vh !important; overflow: auto;">
				<div class="container-fluid">
					@Html.Partial("~/Views/Shared/_page_title.cshtml")

					@RenderBody()
				</div> <!-- container-fluid -->
			</div>
			<!-- End Page-content -->

			@Html.Partial("~/Views/Shared/_footer.cshtml")
		</div>
		<!-- end main content-->

	</div>

	@RenderSection("externalhtml", required: false)

	<!-- END layout-wrapper -->
	@Html.Partial("~/Views/Shared/_right_sidebar.cshtml")

	@*@Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")*@

	@RenderSection("scripts", required: false)
	<script>
		init();
		function init() {
			let table = document.getElementById('datatable-buttons')
			if (table != null) {
				DataTable();
			}
		}
		function DataTable() {
			let Interval = setInterval(function () {
				if (document.getElementById('datatable-buttons_filter') != null) {
					document.getElementById('datatable-buttons_filter').children[0].innerHTML = `<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable-buttons">`
					clearInterval(Interval);
				}
			}, 1000)
		}
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js">
	</script>
</body>
</html>